<div class="pages" [formGroup]="Form">
    <div class="row">
        <div class="col-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <nb-icon class="icon-header" icon="person-outline"></nb-icon>
                                <label>Seller<span class="p-0-12">/</span>Product<span class="p-0-12">/</span>Update</label>
                            </div>

                            <div class="col-auto">
                                <button *ngIf="!loading" style="float: right;margin: 3px 0px 3px 1rem;" nbButton
                                    type="button" size="medium" status="success" (click)="btnSaveClick()">
                                    Update
                                </button>
                                <button style="float: right;margin: 3px 0px 3px 1rem;" nbButton type="button"
                                    size="medium" status="danger" (click)="btnCancelClick()">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12">
            <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>{{arrProduct.product_title}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="success">
            <nb-card class="box-shadow-unset">
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12"
                                                style="padding-bottom: 1rem;">
                                                <div class="cover-input center">
                                                    <div class="uppy-Dashboard-inner"
                                                        *ngIf="imgURL == undefined || imgURL == '-' "
                                                        (click)="fileInput.click()" appDragDrop
                                                        (change)="uploadFile($event.target.files)"
                                                        (onFileDropped)="uploadFile($event)">
                                                        <div class="uppy-Dashboard-innerWrap">
                                                            <div class="uppy-Dashboard-dropFilesHereHint">Drop your
                                                                files
                                                                here</div>
                                                            <div class="uppy-DashboardAddFiles">
                                                                <input nbInput status="primary" hidden type="file"
                                                                    #fileInput
                                                                    (change)="uploadFile($event.target.files)"
                                                                    accept='image/*'>
                                                                <div class="uppy-DashboardTabs">
                                                                    <div class="uppy-Dashboard-dropFilesTitle">Drop
                                                                        files
                                                                        here , paste or <span>browse</span> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="uppy-Dashboard-inner"
                                                        *ngIf="imgURL != undefined && imgURL != '-'"
                                                        (click)="fileInput.click()" appDragDrop
                                                        (change)="uploadFile($event.target.files)"
                                                        (onFileDropped)="uploadFile($event)">
                                                        <div class="uppy-Dashboard-innerWrap">
                                                            <img *ngIf="imgURL != undefined && imgURL != '-'"
                                                                class="imgsize" [src]="imgURL" />
                                                        </div>
                                                    </div>
                                                    <input nbInput status="primary" hidden type="file" #fileInput
                                                        (change)="uploadFile($event.target.files)" accept='image/*'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Product Name :</label>
                                                    <input status="primary" type="text"
                                                        status="primary" nbInput fullWidth
                                                        formControlName="product_title" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.product_title.errors }" />
                                                    <div *ngIf="submitted && !!f.product_title.errors"
                                                        class="invalid-feedback">
                                                        <div class="required" *ngIf="!!f.product_title.errors.required">
                                                            Product Name is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Product SKU :</label>
                                                    <input type="text" nbInput fullWidth
                                                        formControlName="product_sku" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>