<div class="pages" [formGroup]="Form">
    <div class="row">
        <div class="col-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <nb-icon class="icon-header" icon="person-outline"></nb-icon>
                                <label>Seller<span class="p-0-12">/</span>Product<span
                                        class="p-0-12">/</span>Update</label>
                            </div>

                            <div class="col-auto">
                                <button *ngIf="!loading" style="float: right;margin: 3px 0px 3px 1rem;" nbButton
                                    type="button" size="medium" status="success" (click)="btnSaveClick()">
                                    Update
                                </button>
                                <button style="float: right;margin: 3px 0px 3px 1rem;" nbButton type="button"
                                    size="medium" status="danger" (click)="btnCancelClick()">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12">
            <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>{{arrProduct.product_title}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="success">
            <nb-card>
                <nb-card-body style="min-height: calc(100vh - 250px);">
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <project-file-image theme="white" [image_url_array]="image.main_image.get"
                                            [height]="50">
                                        </project-file-image>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <project-input inputType="text" label="Product Name :"
                                            requiredName="Product Name" [control]="Form.get('product_title')"
                                            [forceShowErrors]="submitted">
                                        </project-input>
                                        <project-input inputType="text" label="Product SKU :"
                                            [control]="Form.get('product_sku')">
                                        </project-input>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>