<div class="pages">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <img src="assets/images/inventory.svg"/>
                        <label>Manage Stock<span class="p-0-12">/</span>Create</label>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="body">
                        <button nbButton size="small" status="danger" (click)="btnCancelClick()">
                            Cancel
                        </button>
                        <button nbButton size="small" status="success" (click)="btnSaveClick()">
                            Save
                        </button>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="body">
                        <form [formGroup]="stockForm">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                            <div class="cover-input">
                                                <label>Warehouse Name</label>
                                                <input libOnlyCharacterDefault status="primary" type="text" nbInput fullWidth status="primary" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" [(ngModel)]="arrobjRow.warehouse_name" />
                                                <div *ngIf="submitted && !!f.name.errors" class="invalid-feedback">
                                                    <div class="required" *ngIf="!!f.name.errors.required">
                                                        Name is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                            <div class="cover-input">
                                                <label>Phone Number</label>
                                                <input libOnlyCharacterDefault status="primary" type="text" nbInput fullWidth status="primary" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" [(ngModel)]="arrobjRow.warehouse_mobile" />
                                                <div *ngIf="submitted && !!f.phone.errors" class="invalid-feedback">
                                                    <div class="required" *ngIf="!!f.phone.errors.required">
                                                        Phone Number is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                        <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                            <div class="cover-input">
                                                <label> Address Number</label>
                                                <input libOnlyCharacterDefault status="primary" type="text" nbInput fullWidth status="primary" formControlName="number" [ngClass]="{ 'is-invalid': submitted && f.number.errors }" [(ngModel)]="arrobjRow.warehouse_addr_number" />
                                                <div *ngIf="submitted && !!f.number.errors" class="invalid-feedback">
                                                    <div class="required" *ngIf="!!f.number.errors.required">
                                                        Address Number is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                            <div class="cover-select">
                                                <label>Province</label>
                                                <nb-select fullWidth status="primary" [ngClass]="{ 'is-invalid': strState == '' }"
                                                    (selectedChange)="getStateNew($event)" [(ngModel)]="strState" [ngModelOptions]="{standalone: true}">
                                                    <nb-option value="">--------- Choose ---------</nb-option>
                                                    <nb-option *ngFor="let arrstate of arrobjState" [value]="arrstate.location_name">
                                                        {{arrstate.location_name}}
                                                    </nb-option>
                                                </nb-select>
                                                <div class="required" *ngIf="isValidatorsstate == 'no'">
                                                    Province is required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                            <div class="cover-select">
                                                <label>Amphoe</label>
                                                <nb-select placeholder="City" fullWidth status="primary" (selectedChange)="getCityNew($event)" [(ngModel)]="strCity" [ngModelOptions]="{standalone: true}">
                                                    <nb-option value="">--------- Choose ---------</nb-option>
                                                    <nb-option *ngFor="let city of arrobjCity" [value]="city.location_name">
                                                        {{city.location_name}}
                                                    </nb-option>
                                                </nb-select>
                                                <div class="required" *ngIf="isValidatorsCity == 'no'">
                                                    Amphoe is required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                            <div class="cover-select">
                                                <label>Tambon</label>
                                                <nb-select placeholder="Town" fullWidth status="primary" (selectedChange)="getTownNew($event)" [(ngModel)]="strTown" [ngModelOptions]="{standalone: true}">
                                                    <nb-option value="">--------- Choose ---------</nb-option>
                                                    <nb-option *ngFor="let Town of arrobjTown" [value]="Town.location_name">
                                                        {{Town.location_name}}
                                                    </nb-option>
                                                </nb-select>
                                                <div class="required" *ngIf="isValidatorsTown == 'no'">
                                                    Tambon is required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                            <div class="cover-input">
                                                <label>Zipcode</label>
                                                <input libOnlyCharacterDefault status="primary" type="text" nbInput fullWidth status="primary" formControlName="zipcode" [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" [(ngModel)]="strZipcode" />
                                                <div *ngIf="submitted && !!f.zipcode.errors" class="invalid-feedback">
                                                    <div class="required" *ngIf="!!f.zipcode.errors.required">
                                                        Zipcode is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>              
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" >
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>