<div class="pages" [formGroup]="Form">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <nb-icon icon="cube-outline"></nb-icon>
                                <label>Manage Product<span class="p-0-12">/</span>Detail</label>
                            </div>
                            <div class="col-auto">
                                <button nbButton size="medium" status="success" (click)="btnEditeClick()">
                                    Edit
                                </button>
                                <button nbButton size="medium" status="danger" (click)="btnCancelClick()">
                                    Back
                                </button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>{{product_category_name}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="danger"
            example-items-rows>
            <nb-card>
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="cover-background-image">
                                            <div class="background-image padding-top-60"
                                                [ngClass]="{'active' : arrProductDetail.product_image_url === '-' || arrProductDetail.product_image_url === ''}"
                                                [ngStyle]="{'background-image': 'url('+arrProductDetail.product_image_url+')'}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="cover-input">
                                                    <nb-checkbox [checked]="active == 1" disabled>Active</nb-checkbox>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="cover-input">
                                                    <label>Warehouse</label>
                                                    <input status="primary" type="text" status="primary" nbInput
                                                        fullWidth formControlName="WarehouseName">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="cover-input">
                                                    <label>Product Catalog Keyword</label>
                                                    <input status="primary" type="text" status="primary" nbInput
                                                        fullWidth formControlName="catalogKeyword">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Product Name :</label>
                                                    <input status="primary" type="text" nbInput fullWidth
                                                        status="primary" formControlName="product_name" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Product SKU :</label>
                                                    <input status="primary" type="text" nbInput fullWidth
                                                        status="primary" formControlName="product_sku" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Product Price :</label>
                                                    <input status="primary" libOnlyCharacternumber mask="separator.2"
                                                        thousandSeparator="," type="text" nbInput fullWidth
                                                        status="primary" formControlName="product_price" />
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="cover-input">
                                                    <label>Product Quantity</label>
                                                    <input status="primary" libOnlyCharacternumber mask="separator.0"
                                                        thousandSeparator="," type="text" nbInput fullWidth
                                                        status="primary" class="form-control"
                                                        formControlName="Quantity" />

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Product Unit</label>
                                                    <input status="primary" type="text" nbInput fullWidth
                                                        status="primary" class="form-control"
                                                        formControlName="productUnit" />

                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="cover-textarea">
                                                    <label>Note</label>
                                                    <textarea type="text" rows="3" nbInput fullWidth status="basic"
                                                        formControlName="productNote"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>