<div class="pages">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header class="dialogs">
                    <div class="header">
                        <nb-icon class="icon-header" icon="{{icon}}"></nb-icon>
                        <label>{{title}}</label>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="body">
                        <div class="d-flex justify-content-center" style="padding-bottom: 1rem;">
                            <label style="font-size: 16px;">Are you sure you want to Delete ?</label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button nbButton style="width: 100px" status="gray" (click)="btnCancelClick()">Back</button>
                            <button nbButton style="width: 100px; margin-left: 0.7rem;" status="danger"
                                (click)="btnDeleteClick()">Delete</button>
                        </div>
                    </div>
                </nb-card-body>
                
            </nb-card>
        </div>
    </div>
</div>