@import "../../../../../../libs/theme/src/lib/styles/themes";
@import "~@nebular/bootstrap/styles/buttons";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

.cover-phone-number {
  span {
    &.phone {
      padding: 0.5rem;
      font-weight: bold;
      display: inline-table;
      margin: 0 0.5rem 0.5rem 0;
      nb-icon {
        top: -8px;
        right: -8px;
        font-size: 16px;
        cursor: pointer;
        position: relative;
      }
    }
  }
}

@include nb-install-component() {
}
