<div class="pages" [formGroup]="Form">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <nb-icon class="icon-header" icon="person-outline"></nb-icon>
                                <label>
                                    Seller<span
                                        class="p-0-12">/</span>{{(RowID === 'new')?'New Seller':'Update Seller'}}
                                </label>
                            </div>
                            <div class="col-auto">
                                <!-- [disabled]="!Form.valid"  -->
                                <button [disabled]="!Form.valid || isCheckPhone" [nbSpinner]="image.update"
                                    nbSpinnerStatus="success" nbButton size="medium" status="success"
                                    (click)="clickUpdateOrNew()">
                                    {{(RowID === 'new')?'Save':'Update'}}
                                </button>
                                <button nbButton size="medium" status="danger" (click)="clickCancelOrBack()">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div *ngIf="RowID != 'new'" class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>{{arrobjRow.user_name}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="success">
            <nb-card>
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <project-file-image theme="white" [image_url_array]="image.main_image.get"
                                            [height]="35">
                                        </project-file-image>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Seller Name :"
                                                    requiredName="Seller Name" [control]="Form.get('user_name')"
                                                    [forceShowErrors]="submitted">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input libOnly="libOnlyCharacterDefault" inputType="text"
                                                    label="Seller Company :" requiredName="Seller Company"
                                                    [control]="Form.get('user_company')" [forceShowErrors]="submitted">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input libOnly="libOnlyCharacterDefault" inputType="text"
                                                    label="Seller Tag :" requiredName="Seller Tag"
                                                    [control]="Form.get('user_tag')" [forceShowErrors]="submitted">
                                                </project-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-create-topic">
                                                    <label>
                                                        Address Information
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input libOnly="libOnlyCharacterDefault" inputType="text"
                                                    label="First Name :" requiredName="First Name"
                                                    [control]="Form.get('user_first_name')"
                                                    [forceShowErrors]="submitted">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input libOnly="libOnlyCharacterDefault" inputType="text"
                                                    label="Last Name :" requiredName="Last Name"
                                                    [control]="Form.get('user_last_name')"
                                                    [forceShowErrors]="submitted">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Email :" requiredName="Email"
                                                    [control]="Form.get('user_email')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input-telephone label="Telephone Number :"
                                                    requiredName="Telephone Number" [control]="Form.get('phone')"
                                                    [data]="arrobjRow.user_tel" (valueChange)="onDataTel($event)">
                                                </project-input-telephone>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input-mobile-phone label="Mobile Number :"
                                                    requiredName="Mobile Number" [control]="Form.get('mobile')"
                                                    [data]="arrobjRow.user_mobile"
                                                    (valueChange)="onDataMobilel($event)">
                                                </project-input-mobile-phone>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input right">
                                                    <button type="button" nbButton status="primary"
                                                        (click)="btnDialogMab()">
                                                        <nb-icon icon="map-outline"></nb-icon>
                                                        Search by location
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-textarea rows="3" label="Address :" requiredName="Address"
                                                    [control]="Form.get('addressFull')" [forceShowErrors]="submitted">
                                                </project-textarea>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Address Number :"
                                                    requiredName="Address Number" [control]="Form.get('addressNo')"
                                                    [forceShowErrors]="submitted">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-ngx-select label="Province :" requiredName="Province"
                                                    optionValueField="location_name" optionTextField="location_name"
                                                    [items]="arrProvince" [control]="Form.get('province')"
                                                    placeholder="--------- Choose ---------"
                                                    (valueChange)='changeProvince($event)'
                                                    [forceShowErrors]="submitted">
                                                </project-ngx-select>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-ngx-select label="Amphoe :" requiredName="Amphoe"
                                                    optionValueField="location_name" optionTextField="location_name"
                                                    [items]="arrAmphoe" [control]="Form.get('amphoe')"
                                                    placeholder="--------- Choose ---------"
                                                    (valueChange)='changeAmphoe($event)' [forceShowErrors]="submitted">
                                                </project-ngx-select>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-ngx-select label="Tambon :" requiredName="Tambon"
                                                    optionValueField="location_name" optionTextField="location_name"
                                                    [items]="arrTambon" [control]="Form.get('tambon')"
                                                    placeholder="--------- Choose ---------"
                                                    (valueChange)='changeTambon($event)' [forceShowErrors]="submitted">
                                                </project-ngx-select>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <project-input inputType="text" label="Zipcode :" requiredName="Zipcode"
                                                    [control]="Form.get('zipcode')" [forceShowErrors]="submitted">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <project-input inputType="text" label="Latitude Longitude :"
                                                    requiredName="Latitude Longitude"
                                                    [control]="Form.get('location_lat_location_lng')"
                                                    [forceShowErrors]="submitted">
                                                </project-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>