<div class="pages" [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <nb-icon class="icon-header" icon="archive-outline"></nb-icon>
                                <label>
                                    Retailer<span
                                        class="p-0-12">/</span>{{(RowID === 'new')?'New Retailer':'Update Retailer'}}
                                </label>
                            </div>
                            <div class="col-auto">
                                <button [disabled]="!Form.valid" [nbSpinner]="image.update" nbSpinnerStatus="success" nbButton size="medium"
                                    status="success" (click)="clickUpdateOrNew()">
                                    {{(RowID === 'new')?'Save':'Update'}}
                                </button>
                                <button nbButton size="medium" status="danger" (click)="clickCancelOrBack()">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div *ngIf="RowID != 'new'" class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>{{arrobjRow.retail_name}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="success">
            <nb-card class="box-shadow-unset">
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-12 col-md-6 col-lg-6 col-xl-6">
                                        <project-file-image theme="white" [image_url_array]="image.main_image.get"
                                            [height]="30">
                                        </project-file-image>
                                    </div>
                                    <div class="col-12 col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Retailer Name :"
                                                    requiredName="Retailer Name" [control]="Form.get('salename')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Retailer Company :"
                                                    requiredName="Retailer Company"
                                                    [control]="Form.get('salerepcompany')">
                                                </project-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-create-topic">
                                                    <label>
                                                        Address Information
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input libOnly="libOnlyCharacterDefault" inputType="text"
                                                    label="First Name :" requiredName="First Name"
                                                    [control]="Form.get('firstName')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input libOnly="libOnlyCharacterDefault" inputType="text"
                                                    label="Last Name :" requiredName="Last Name"
                                                    [control]="Form.get('lastName')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input libOnly="libOnlyCharacterDefault" inputType="text"
                                                    label="Email :" requiredName="Email"
                                                    [control]="Form.get('emailAddress')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-phone-number">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="cover-input">
                                                                <label>Telephone Number</label>
                                                                <input libOnlyCharacterDefault nbInput fullWidth
                                                                    type="text" status="primary"
                                                                    libOnlyCharacterphonnumber
                                                                    formControlName="telephoneNumber"
                                                                    (keyup)="onInput(19,19,$event,phone.tel)"
                                                                    (keyup.enter)="onInArrayPhone(9,19,$event,phone.tel)"
                                                                    [ngClass]="{'is-invalid': submitted && phone.tel.number === ''}" />
                                                                <div class="invalid-feedback"
                                                                    [ngClass]="{'display-block': submitted && phone.tel.number === ''}">
                                                                    <div class="required">
                                                                        Telephone Number is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <span class="phone"
                                                                *ngFor="let item of phone.tel.number_array ; let i = index">
                                                                {{item}}<nb-icon
                                                                    (click)="removePhoneNumberIndex(i,phone.tel)"
                                                                    icon="close-outline"></nb-icon>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-phone-number">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="cover-input">
                                                                <label>Mobile Phone Number</label>
                                                                <input libOnlyCharacterDefault nbInput fullWidth
                                                                    type="text" status="primary" mask='000-000-0000'
                                                                    placeholder="XXX-XXX-XXXX"
                                                                    (keyup)="inArrayPhone(12,12,$event,phone.mobile)"
                                                                    (keyup.enter)="inArrayPhone(12,12,$event,phone.mobile)"
                                                                    [ngClass]="{'is-invalid': submitted && phone.mobile.number === ''}" />
                                                                <div class="invalid-feedback"
                                                                    [ngClass]="{'display-block': submitted && phone.mobile.number === ''}">
                                                                    <div class="required">
                                                                        Mobile Phone Number is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <span class="phone"
                                                                *ngFor="let item of phone.mobile.number_array ; let i = index">
                                                                {{item}}<nb-icon
                                                                    (click)="removePhoneNumberIndex(i,phone.mobile)"
                                                                    icon="close-outline"></nb-icon>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input right">
                                                    <button type="button" nbButton status="primary"
                                                        (click)="btnDialogMab()">
                                                        <nb-icon icon="map-outline"></nb-icon>
                                                        Search by location
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-textarea rows="3" label="Address :" requiredName="Address"
                                                    [control]="Form.get('Address')">
                                                </project-textarea>
                                            </div>
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input libOnly="libOnlyCharacterDefault" inputType="text"
                                                    label="Address Number :" requiredName="Address Number"
                                                    [control]="Form.get('number')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-ngx-select label="Province :" requiredName="Province"
                                                    optionValueField="location_name" optionTextField="location_name"
                                                    [items]="arrProvince" [control]="Form.get('province')"
                                                    placeholder="--------- Choose ---------"
                                                    (valueChange)='changeProvince($event)'>
                                                </project-ngx-select>
                                            </div>
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-ngx-select label="Amphoe :" requiredName="Amphoe"
                                                    optionValueField="location_name" optionTextField="location_name"
                                                    [items]="arrAmphoe" [control]="Form.get('amphoe')"
                                                    placeholder="--------- Choose ---------"
                                                    (valueChange)='changeAmphoe($event)'>
                                                </project-ngx-select>
                                            </div>
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-ngx-select label="Tambon :" requiredName="Tambon"
                                                    optionValueField="location_name" optionTextField="location_name"
                                                    [items]="arrTambon" [control]="Form.get('tambon')"
                                                    placeholder="--------- Choose ---------"
                                                    (valueChange)='changeTambon($event)'>
                                                </project-ngx-select>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <project-input libOnly="libOnlyCharacterDefault" inputType="text"
                                                    label="Zipcode :" requiredName="Zipcode"
                                                    [control]="Form.get('zipcode')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <project-input libOnly="libOnlyCharacterDefault" inputType="text"
                                                    label="Latitude Longitude :" requiredName="Latitude Longitude"
                                                    [control]="Form.get('location_lat_location_lng')">
                                                </project-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>