<div class="pages" [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <nb-icon icon="cube-outline"></nb-icon>
                        <label>Add Product Wholesale</label>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <project-input libOnly="libOnlyCharacternumber" mask="separator.0" thousandSeparator=","
                                    inputType="text" label="Qty Minimum :" requiredName="Qty Minimum"
                                    [control]="Form.get('qty_minimum')" (keyup)="onKeyMinimum($event)">
                                </project-input>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <project-input libOnly="libOnlyCharacternumber" mask="separator.2" thousandSeparator=","
                                    inputType="text" label="Wholesale Price :" requiredName="Wholesale Price"
                                    [control]="Form.get('product_price')">
                                </project-input>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <project-input libOnly="libOnlyCharacternumber" mask="separator.2" thousandSeparator=","
                                    inputType="text" label="Retail Price :" requiredName="Retail Price"
                                    [control]="Form.get('retail_product_price')">
                                </project-input>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button nbButton style="width: 100px" status="danger"
                                (click)="btnCancelClick()">Cancel</button>
                            <button [disabled]="Form.invalid" nbButton style="width: 100px; margin-left: 0.7rem;"
                                status="success" (click)="btnSaveClick()">OK</button>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>