@import "../../../../../../../libs/theme-supplier/src/lib/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

.display_table {
  &.height_48px {
    height: 48px;
    label {
      float: left;
      font-size: 17px;
      font-weight: 600;
    }
  }
  width: 100%;
  display: table;
  vertical-align: middle;
  .display_table_cell {
    display: table-cell;
    vertical-align: middle;
    & * {
      padding: 0;
      margin: 0;
    }
  }
}

tbody {
  tr {
    td {
      nb-icon {
        &.right {
          float: right;
        }
      }
    }
  }
}

.padding-0 {
  padding: 0 !important;
}

.padding-auto-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.table {
  tbody {
    tr {
      td {
        &.active {
          * {
            color: #3366ff !important;
          }
          background-color: #1c294e;
        }
      }
    }
  }
}

@include nb-install-component() {
}

.list {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

table {
  * {
    color: white;
  }
}