<div class="pages" [formGroup]="Form">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <nb-icon icon="checkmark-square-2-outline"></nb-icon>
                        <label>Check In</label>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12">
                                <nb-select placeholder="All Status" fullWidth outline status="primary"
                                    formControlName="strCheckin">
                                    <nb-option *ngIf="data == 0" value="0">All Check-In</nb-option>
                                    <nb-option value="1">Partial Check-In</nb-option>
                                </nb-select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button nbButton style="width: 100px" status="danger"
                                (click)="btnCancelClick()">Cancel</button>
                            <button nbButton [disabled]="!Form.valid" style="width: 100px; margin-left: 0.7rem;"
                                status="success" (click)="btnSaveClick()">OK</button>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>