<div class="pages">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <nb-icon icon="cube-outline"></nb-icon>
                        <label>Inventory Log</label>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-body style="min-height: calc(100vh - 280px);">
                    <div class="header">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="cover-form icon">
                                            <nb-icon style="right: 0px;" icon="search-outline"></nb-icon>
                                            <nb-icon *ngIf="service.searchTerm" (click)="btnRefresh()"
                                                style="float: right;left: 0; cursor: pointer;" icon="close-outline">
                                            </nb-icon>
                                            <input libOnlyCharacterDefault nbInput status="primary" type="text" nbInput
                                                fullWidth status="basic" placeholder="Search for name"
                                                [(ngModel)]="service.searchTerm" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="cover-table" *ngIf="!isReload">
                                    <table class="table hover" style="width: 100%;"
                                        *ngIf="products$ | async as Products ; else loading">
                                        <colgroup>
                                            <col />
                                            <col />
                                            <col />
                                            <col class="Available" />
                                            <col class="OnHand" />
                                            <col class="Outgoing" />
                                            <!-- <col class="Incoming" /> -->
                                            <col />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class="left" style="min-width: 100px;">Images</th>
                                                <th class="left" style="min-width: 250px;">
                                                    Item
                                                </th>
                                                <th class="left" style="min-width: 250px;">
                                                    Warehouse Name
                                                </th>
                                                <th style="text-align: center; min-width: 120px;">
                                                    Available
                                                </th>
                                                <th style="text-align: center; min-width: 120px;">
                                                    On Hand
                                                </th>
                                                <th style="text-align: center; min-width: 120px;">
                                                    Outgoing
                                                </th>
                                                <!-- <th style="text-align: center; min-width: 120px;">
                                                    Incoming
                                                </th> -->
                                                <th style="text-align: right; cursor: pointer;" (click)="btnReload()">
                                                    <nb-icon icon="refresh-outline"></nb-icon>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody style="cursor: pointer;">
                                            <tr *ngFor="let products of Products">
                                                <td class="right">
                                                    <div class="cover-background-image">
                                                        <div class="background-image padding-width-100px-height-100px"
                                                            [ngClass]="{'active' : products.product_image_url === '-' || products.product_image_url === ''}"
                                                            [ngStyle]="{'background-image': 'url('+products.product_image_url+')'}">
                                                        </div>
                                                    </div>
                                                <td style="text-align: left;">
                                                    <div>
                                                        <div>
                                                            <ngb-highlight [result]="products.product_title"
                                                                [term]="service.searchTerm">
                                                            </ngb-highlight>
                                                        </div>
                                                        <div style="padding-top: 1rem;">
                                                            <ngb-highlight class="sku" [result]="products.product_sku"
                                                                [term]="service.searchTerm">
                                                            </ngb-highlight>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="left">
                                                    <div *ngFor="let warehouse of products.warehouse_data">
                                                        <ngb-highlight [result]="warehouse.warehouse_name"
                                                            [term]="service.searchTerm">
                                                        </ngb-highlight>
                                                    </div>
                                                </td>
                                                <td class="cover qty">
                                                    <div *ngIf="products.type_key == 'NEW CHECKIN'">
                                                        <ngb-highlight
                                                            [result]="products.checkin_data.onhand - products.checkin_data.outgoing| number"
                                                            [term]="service.searchTerm">
                                                        </ngb-highlight>
                                                    </div>
                                                    <div *ngIf="products.type_key == 'No'">
                                                        <div style="padding-bottom: 0.5rem;">
                                                            <ngb-highlight
                                                                [result]="products.product_checkin_from.checkin_data.onhand - products.product_checkin_from.checkin_data.outgoing | number"
                                                                [term]="service.searchTerm">
                                                            </ngb-highlight>
                                                        </div>
                                                        <div style="padding-top: 0.5rem;">
                                                            <ngb-highlight
                                                                [result]="products.product_checkin_from.checkin_data.onhand - products.product_checkin_from.checkin_data.outgoing | number"
                                                                [term]="service.searchTerm">
                                                            </ngb-highlight>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="cover qty">
                                                    <div *ngIf="products.type_key == 'NEW CHECKIN'">
                                                        <ngb-highlight [result]="products.checkin_data.onhand | number"
                                                            [term]="service.searchTerm">
                                                        </ngb-highlight>
                                                    </div>
                                                    <div *ngIf="products.type_key == 'No'">
                                                        <div style="padding-bottom: 0.5rem;">
                                                            <ngb-highlight
                                                                [result]="products.product_checkin_from.checkin_data.onhand | number"
                                                                [term]="service.searchTerm">
                                                            </ngb-highlight>
                                                        </div>
                                                        <div style="padding-top: 0.5rem;">
                                                            <ngb-highlight
                                                                [result]="products.product_checkin_to.checkin_data.onhand | number"
                                                                [term]="service.searchTerm">
                                                            </ngb-highlight>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="cover qty">
                                                    <div *ngIf="products.type_key == 'NEW CHECKIN'">
                                                        <ngb-highlight
                                                            [result]="products.checkin_data.outgoing | number"
                                                            [term]="service.searchTerm">
                                                        </ngb-highlight>
                                                    </div>
                                                    <div *ngIf="products.type_key == 'No'">
                                                        <div style="padding-bottom: 0.5rem;">
                                                            <ngb-highlight
                                                                [result]="products.product_checkin_from.checkin_data.outgoing | number"
                                                                [term]="service.searchTerm">
                                                            </ngb-highlight>
                                                        </div>
                                                        <div style="padding-top: 0.5rem;">
                                                            <ngb-highlight
                                                                [result]="products.product_checkin_to.checkin_data.outgoing | number"
                                                                [term]="service.searchTerm">
                                                            </ngb-highlight>
                                                        </div>
                                                    </div>
                                                </td>
                                                <!-- <td class="cover qty">
                                                    <div *ngIf="products.type_key == 'NEW CHECKIN'">
                                                        <ngb-highlight
                                                            [result]="products.checkin_data.incoming | number"
                                                            [term]="service.searchTerm">
                                                        </ngb-highlight>
                                                    </div>
                                                    <div *ngIf="products.type_key == 'No'">
                                                        <div style="padding-bottom: 0.5rem;">
                                                            <ngb-highlight
                                                                [result]="products.product_checkin_from.checkin_data.incoming | number"
                                                                [term]="service.searchTerm">
                                                            </ngb-highlight>
                                                        </div>
                                                        <div style="padding-top: 0.5rem;">
                                                            <ngb-highlight
                                                                [result]="products.product_checkin_to.checkin_data.incoming | number"
                                                                [term]="service.searchTerm">
                                                            </ngb-highlight>
                                                        </div>
                                                    </div>
                                                </td> -->
                                                <td></td>
                                            </tr>
                                            <tr *ngIf="Products.length == 0"
                                                style="height:300px; background-color: white;">
                                                <td colspan="7" style="padding-top: 50px;">
                                                    <img src="assets/images/loading.png" width="300"><br><br>
                                                    <label>No data.</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <!-- <div class="row" *ngIf="products$ | async as Products; else loading">
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <ngx-datatable [columnMode]="ColumnMode.force" [rows]="Products"
                                                rowHeight="auto" [headerHeight]="46" (activate)="btnRow($event)"
                                                [scrollbarH]="true" [messages]="messages">
                                                <ngx-datatable-column name="Images" [width]="100">
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        <div class="cover-background-image">
                                                            <div class="background-image padding-width-100px-height-100px"
                                                                [ngClass]="{'active' : row.product_image_url === '-' || row.product_image_url=== ''}"
                                                                [ngStyle]="{'background-image': 'url('+row.product_image_url+')'}">
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="Item" [sortable]="true"
                                                    prop="product_title">
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        {{ row.product_title }}<br>
                                                        {{ row.product_sku }}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name=" Warehouse Name" [sortable]="true"
                                                    prop="warehouse_name">
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        <div *ngIf="row.warehouse_data.length > 0">
                                                            {{ row.warehouse_data[0].warehouse_name }}
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="Available " [width]="80"
                                                    [cellClass]="'cell-right'" [headerClass]="'cell-right'"
                                                    [sortable]="true" prop="checkin_data.available">
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        {{ row.checkin_data.available }}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="On Hand " [width]="80"
                                                    [cellClass]="'cell-right'" [headerClass]="'cell-right'"
                                                    [sortable]="true" prop="checkin_data.onhand">
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        {{ row.checkin_data.onhand }}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="Outgoing " [width]="80"
                                                    [cellClass]="'cell-right'" [headerClass]="'cell-right'"
                                                    [sortable]="true" prop="checkin_data.outgoing">
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        {{ row.checkin_data.outgoing }}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="Incoming " [width]="80"
                                                    [cellClass]="'cell-right'" [headerClass]="'cell-right'"
                                                    [sortable]="true" prop="checkin_data.incoming">
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        {{ row.checkin_data.incoming }}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="load" [width]="50">
                                                    <ng-template let-column="column" ngx-datatable-header-template>
                                                        <div style="text-align: center; cursor: pointer;"
                                                            (click)="btnReload()">
                                                            <nb-icon icon="refresh-outline"></nb-icon>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                            </ngx-datatable> 
                                        </div>
                                    </div> -->
                                    <ng-template #loading>
                                        <table class="table hover" style="width: 100%;">
                                            <colgroup>
                                                <col />
                                                <col />
                                                <col />
                                                <col class="Available" />
                                                <col class="OnHand" />
                                                <col class="Outgoing" />
                                                <!-- <col class="Incoming" /> -->
                                                <col />
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th class="left">Images</th>
                                                    <th scope="col" class="left" sortable="Status"
                                                        (sort)="onSort($event)">
                                                        Item
                                                    </th>
                                                    <th class="left" scope="col" sortable="Order"
                                                        (sort)="onSort($event)">
                                                        Warehouse Name</th>
                                                    <th style="text-align: center;" scope="col" sortable="Order"
                                                        (sort)="onSort($event)">
                                                        Available</th>
                                                    <th style="text-align: center;" scope="col" sortable="Supplier"
                                                        (sort)="onSort($event)">On
                                                        Hand</th>
                                                    <th style="text-align: center;" sortable="date"
                                                        (sort)="onSort($event)">
                                                        Outgoing
                                                    </th>
                                                    <!-- <th style="text-align: center;" sortable="DiliversOn"
                                                        (sort)="onSort($event)">
                                                        Incoming
                                                    </th> -->
                                                    <th style="text-align: right; cursor: pointer;"
                                                        (click)="btnRefresh()">
                                                        <nb-icon icon="refresh-outline"></nb-icon>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="height:300px; background-color: white;">
                                                    <td colspan="7" style="padding-top: 50px;">
                                                        <div style="height: 100px;background-color: white;"
                                                            [nbSpinner]="loading" nbSpinnerStatus="primary">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-template>
                                </div>

                                <div class="cover-table" *ngIf="isReload">
                                    <table class="table hover" style="width: 100%;">
                                        <colgroup>
                                            <col />
                                            <col />
                                            <col />
                                            <col class="Available" />
                                            <col class="OnHand" />
                                            <col class="Outgoing" />
                                            <!-- <col class="Incoming" /> -->
                                            <col />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class="left">Images</th>
                                                <th scope="col" class="left" sortable="Status" (sort)="onSort($event)">
                                                    Item
                                                </th>
                                                <th class="left" scope="col" sortable="Order" (sort)="onSort($event)">
                                                    Warehouse Name</th>
                                                <th style="text-align: center;" scope="col" sortable="Order"
                                                    (sort)="onSort($event)">
                                                    Available</th>
                                                <th style="text-align: center;" scope="col" sortable="Supplier"
                                                    (sort)="onSort($event)">On
                                                    Hand</th>
                                                <th style="text-align: center;" scope="col" sortable="date"
                                                    (sort)="onSort($event)">
                                                    Outgoing
                                                </th>
                                                <!-- <th style="text-align: center;" scope="col" sortable="DiliversOn"
                                                    (sort)="onSort($event)">
                                                    Incoming
                                                </th> -->
                                                <th style="text-align: right; cursor: pointer;" (click)="btnRefresh()">
                                                    <nb-icon icon="refresh-outline"></nb-icon>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="height:300px; background-color: white;">
                                                <td colspan="8" style="padding-top: 50px;">
                                                    <div style="height: 100px;background-color: white;"
                                                        [nbSpinner]="isReload" nbSpinnerStatus="primary">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <div *ngIf="!isReload && !loading" class="d-flex justify-content-between p-2">
                                    <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page"
                                        [pageSize]="service.pageSize">
                                    </ngb-pagination>

                                    <select class="custom-select" style="width: auto" name="pageSize"
                                        [(ngModel)]="service.pageSize">
                                        <option [ngValue]="10">10 items per page</option>
                                        <option [ngValue]="20">20 items per page</option>
                                        <option [ngValue]="50">50 items per page</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>