<div class="pages">
    <div class="row">
        <div class="col-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <nb-icon icon="person-outline"></nb-icon>
                                <label>Sale Detail</label>
                            </div>
                            <div class="col-auto">
                                <button *ngIf="!loading" style="float: right;margin: 3px 0px 3px 1rem;" nbButton
                                    type="button" size="medium" status="success" (click)="btnEditClick()">
                                    Edit
                                </button>
                                <button style="float: right;margin: 3px 0px 3px 1rem;" nbButton type="button"
                                    size="medium" status="danger" (click)="btnCancelClick()">
                                    Back
                                </button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12">
            <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>{{arrSale.sale_rep_name}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="success">
            <nb-card class="box-shadow-unset">
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12"
                                                style="padding-bottom: 1rem;">
                                                <div class="cover-background-image">
                                                    <div class="background-image padding-top-60"
                                                        [ngClass]="{'active' : arrSale.sale_rep_image_url === '-' || arrSale.sale_rep_image_url === ''}"
                                                        [ngStyle]="{'background-image': 'url('+arrSale.sale_rep_image_url+')'}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Sale Name :</label>
                                                    <input disabled type="text" nbInput fullWidth
                                                        [(ngModel)]="arrSale.sale_rep_name" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input"
                                                    *ngFor="let p of arrSale.product_category_array">
                                                    <label>Product Category :</label>
                                                    <input disabled type="text" nbInput fullWidth
                                                        [(ngModel)]="p.product_category_name" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Sale Company :</label>
                                                    <input disabled type="text" nbInput fullWidth
                                                        [(ngModel)]="arrSale.sale_rep_company" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Sale Tag :</label>
                                                    <input disabled type="text" nbInput fullWidth
                                                        [(ngModel)]="arrSale.sale_rep_tag" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>First Name :</label>
                                                    <input disabled type="text" nbInput fullWidth
                                                        [(ngModel)]="arrSale.sale_rep_first_name" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Last Name :</label>
                                                    <input disabled type="text" nbInput fullWidth
                                                        [(ngModel)]="arrSale.sale_rep_last_name" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Email :</label>
                                                    <input disabled type="text" nbInput fullWidth
                                                        [(ngModel)]="arrSale.sale_rep_email" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Telephone Number :</label>
                                                    <input disabled type="text" libOnlyCharacterphonnumber nbInput fullWidth
                                                        [(ngModel)]="arrSale.sale_rep_tel" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Mobile Phone Number :</label>
                                                    <input disabled type="text" mask='000-000-0000' placeholder="XXX-XXX-XXXX" nbInput fullWidth
                                                        [(ngModel)]="arrSale.sale_rep_mobile" />
                                                </div>
                                            </div>
                                            <div class="col-12" *ngIf="(arrSale.sale_rep_addr_lat != '' && arrSale.sale_rep_addr_lat != undefined) && 
                                            (arrSale.sale_rep_addr_lng != ''  && arrSale.sale_rep_addr_lng != undefined)">
                                                <div class="cover-input">
                                                    <label>Location Lat :</label>
                                                    <input disabled type="text" nbInput fullWidth
                                                        [(ngModel)]="arrSale.sale_rep_addr_lat" />
                                                </div>
                                            </div>
                                            <div class="col-12" *ngIf="(arrSale.sale_rep_addr_lat != '' && arrSale.sale_rep_addr_lat != undefined) && 
                                            (arrSale.sale_rep_addr_lng != ''  && arrSale.sale_rep_addr_lng != undefined)">
                                                <div class="cover-input">
                                                    <label>Location Lng :</label>
                                                    <input disabled type="text" nbInput fullWidth
                                                        [(ngModel)]="arrSale.sale_rep_addr_lng" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Address :</label>
                                                    <textarea rows="3"disabled type="text" nbInput
                                                        fullWidth [(ngModel)]="arrSale.sale_rep_addr_full">
                                                        </textarea>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Address Number :</label>
                                                    <input disabled type="text" nbInput fullWidth
                                                        [(ngModel)]="arrSale.sale_rep_addr_number" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Province  :</label>
                                                    <input disabled type="text" nbInput fullWidth
                                                        [(ngModel)]="arrSale.sale_rep_addr_province" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Amphoe  :</label>
                                                    <input disabled type="text" nbInput fullWidth
                                                        [(ngModel)]="arrSale.sale_rep_addr_amphoe" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Tambon  :</label>
                                                    <input disabled type="text" nbInput fullWidth
                                                        [(ngModel)]="arrSale.sale_rep_addr_tambon" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label>Zipcode :</label>
                                                    <input disabled type="text" nbInput fullWidth
                                                        [(ngModel)]="arrSale.sale_rep_addr_post" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12" *ngIf="(arrSale.sale_rep_addr_lat != '' && arrSale.sale_rep_addr_lat != undefined) && 
                                    (arrSale.sale_rep_addr_lng != ''  && arrSale.sale_rep_addr_lng != undefined)">
                                        <project-map [let]="arrSale.sale_rep_addr_lat" [long]="arrSale.sale_rep_addr_lng"></project-map>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12"
                                *ngIf="arrSaleProduct.length !== 0">
                                <table class="table hover" >
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                Image
                                            </th>
                                            <th class="left" scope="col">
                                                Product Name
                                            </th>
                                            <th scope="col">
                                                Product SKU
                                            </th>
                                            <th scope="col">
                                                Product Price
                                            </th>
                                            <th scope="col">
                                                <nb-icon icon="refresh-outline"></nb-icon>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let Product of arrSaleProduct">
                                            <td>
                                                <img *ngIf="Product.product_image_url !== '-' && Product.product_image_url !== '' "
                                                    src="{{Product.product_image_url}}" width="30">
                                                <img *ngIf="Product.product_image_url === '-' || Product.product_image_url === '' "
                                                    src="https://static.apiary.io/assets/1lqsC4I4.png" width="30">
                                            </td>
                                            <td class="left">
                                                {{Product.product_name}}
                                            </td>
                                            <td>
                                                {{Product.product_sku}}
                                            </td>
                                            <td>
                                                {{arrSale.sale_rep_tel}}
                                            </td>
                                            <td colspan="2">
                                                {{Product.product_price}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>