<div class="pages" [formGroup]="Form">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card *ngIf="status =='img'" class="img">
                <nb-card-header>
                    <div class="header">
                        <nb-icon icon="browser-outline"></nb-icon>
                        <label>Image</label>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="body">
                        <project-file-upload-note theme="dark" [image_url_array]="product.product_image_array.get">
                        </project-file-upload-note>
                    </div>
                </nb-card-body>
                <nb-card-footer>
                    <div class="body">
                        <div class="d-flex justify-content-center">
                            <button nbButton style="width: 100px" status="success" (click)="btnOKClick()">OK</button>
                        </div>
                    </div>
                </nb-card-footer>
            </nb-card>
            <nb-card *ngIf="status =='note'" class="note">
                <nb-card-header>
                    <div class="header">
                        <nb-icon icon="browser-outline"></nb-icon>
                        <label>Note</label>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <label>Note</label>
                                <textarea rows="5" nbInput status="primary" type="text" fullWidth
                                    formControlName="note">
                                 </textarea>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
                <nb-card-footer>
                    <div class="body">
                        <div class="d-flex justify-content-center">
                            <button nbButton style="width: 100px" status="success" (click)="btnOKClick()">OK</button>
                        </div>
                    </div>
                </nb-card-footer>
            </nb-card>
        </div>
    </div>
</div>