@import "../../../../../../../libs/theme/src/lib/styles/themes";
@import "~@nebular/bootstrap/styles/buttons";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

.padding-0 {
  padding: 0!important;
}

.padding-auto-0 {
  padding-right: 0!important;
  padding-left: 0!important;
}

.margin-0 {
  margin: 0!important;
}

.pages {
  nb-card {
    nb-card-header {
      label { 
        &.height-calc-48px {
          height: calc(48px - 0.5rem);
        }
        float: left; 
        font-size: 17px; 
        font-weight: 600;
      }
    }
  }
}

@include nb-install-component() {
  .show-grid {
    .row {
      margin: -0.5rem;
    }

    div[class^="col-"] {
      padding: 0.5rem;
      box-sizing: border-box;

      div {
        text-align: center;
        padding: 0.5rem 0.25rem;
        border-radius: 0.25rem;
      }
    }
  }

  thead {
    font-size: 14px;
    text-align: center;
  }
  tbody {
    font-size: 14px;
    text-align: center;
  }

  .btnDisabled{
    font-size: 14px; 
    color: #000000;
    background-color: #ffffff;
    border-color: #edf1f7;
  }

}
