<div class="pages">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">

            <nb-card *ngIf="status == 'po'">
                <nb-card-header class="dialogs">
                    <div class="header">
                        <nb-icon icon="alert-circle-outline"></nb-icon>
                        <label>Confirm Cancellation</label>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="body">
                        <div class="d-flex justify-content-center" style="padding-bottom: 1rem;">
                            <label style="font-size: 16px;">Are you sure you want to Cancel ?</label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button nbButton style="width: 100px" status="danger"
                                (click)="btnCancelClick()">Cancel</button>
                            <button nbButton style="width: 100px; margin-left: 0.7rem;" status="success"
                                (click)="btnOkClick()">OK</button>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>

            <nb-card *ngIf="status == 'checkin'">
                <nb-card-header class="dialogs">
                    <div class="header">
                        <nb-icon icon="alert-circle-outline"></nb-icon>
                        <label>ERROR</label>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="body">
                        <div class="d-flex justify-content-center" style="padding-bottom: 1rem;">
                            <label style="font-size: 16px;">Quantity cannot be equal to 0 or greater Incoming.</label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button nbButton style="width: 100px" status="success" (click)="btnOkClick()">OK</button>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>

            <nb-card *ngIf="status == 'Quantity'">
                <nb-card-header class="dialogs">
                    <div class="header">
                        <nb-icon icon="alert-circle-outline"></nb-icon>
                        <label>ERROR</label>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="body">
                        <div class="d-flex justify-content-center" style="padding-bottom: 1rem;">
                            <label style="font-size: 16px;">Quantity is greater than 0.</label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button nbButton style="width: 100px" status="success" (click)="btnOkClick()">OK</button>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>

        </div>
    </div>
</div>