<div class="pages" [formGroup]="ReplyForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <nb-icon icon="browser-outline"></nb-icon>
                        <label>Reply PO</label>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <project-input libOnly="libOnlyCharacterDefault" inputType="text" label="Note :"
                                    requiredName="Note" [control]="ReplyForm.get('note')">
                                </project-input>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <label> Date</label>
                                <input [ngClass]="{ 'is-invalid': submitted && f.date.errors }" type="text"
                                    class="form-control" bsDatepicker #dp="bsDatepicker"
                                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-red' }"
                                    formControlName="date">
                                <div *ngIf="submitted && !!f.date.errors" class="invalid-feedback">
                                    <div style="text-align: left" *ngIf="!!f.date.errors.required">
                                        Date is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center" style="padding-top: 2rem;">
                            <button nbButton style="width: 100px" status="danger"
                                (click)="btnCancelClick()">Cancel</button>
                            <button [disabled]=" ReplyForm.invalid" [nbSpinner]="isSaveLodding" nbSpinnerSize="tiny"
                                nbSpinnerStatus="success" nbButton style="width: 100px; margin-left: 0.7rem;"
                                status="success" (click)="btnSaveClick()">OK</button>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>

        </div>
    </div>
</div>