<div class="pages" [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <nb-icon icon="browser-outline"></nb-icon>
                                <label *ngIf="RowID == 'new'">My Sale Rep<span class="p-0-12">/</span>New
                                    Sale</label>
                                <label *ngIf="RowID != 'new'">My Sale Rep<span class="p-0-12">/</span>Update
                                    Sale</label>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <button [disabled]="!Form.valid || isCheckPhone" *ngIf="RowID == 'new' && !loading"
                                    style="float: right;margin: 3px 0px 3px 1rem;" [nbSpinner]="image.update"
                                    nbSpinnerStatus="success" nbButton size="medium" status="success"
                                    (click)="btnSaveClick()">
                                    Save
                                </button>
                                <button [disabled]="!Form.valid || isCheckPhone" *ngIf="RowID != 'new' && !loading"
                                    style="float: right;margin: 3px 0px 3px 1rem;" [nbSpinner]="image.update"
                                    nbSpinnerStatus="success" nbButton size="medium" status="success"
                                    (click)="btnSaveClick()">
                                    Update
                                </button>
                                <button *ngIf="RowID == 'new'" style="float: right;margin: 3px 0px 3px 1rem;" nbButton
                                    type="button" size="medium" status="danger" (click)="btnCancelClick()">
                                    Cancel
                                </button>
                                <button *ngIf="RowID != 'new'" style="float: right;margin: 3px 0px 3px 1rem;" nbButton
                                    type="button" size="medium" status="danger" (click)="btnBackClick()">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div *ngIf="RowID != 'new'" class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>{{arrobjRow.sale_rep_name}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="warning">
            <nb-card class="box-shadow-unset">
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                        <project-file-image [image_url_array]="image.main_image.get">
                                        </project-file-image>
                                        <div style="padding-bottom: 1rem;"></div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 ">
                                                <project-input inputType="text" label="Sale Name :"
                                                    requiredName="Sale Name" [control]="Form.get('sale_rep_name')">
                                                </project-input>
                                            </div>
                                            <div class="col-12">
                                                <project-input inputType="text" label="Sale Company :"
                                                    requiredName="Sale Company"
                                                    [control]="Form.get('sale_rep_company')">
                                                </project-input>
                                            </div>
                                            <div class="col-12">
                                                <project-input inputType="text" label="Sale Tag :"
                                                    requiredName="Sale Tag" [control]="Form.get('sale_rep_tag')">
                                                </project-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="cover-create-topic">
                                                    <label>
                                                        Address Information
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <project-input inputType="text" label="First Name :"
                                                    requiredName="First Name"
                                                    [control]="Form.get('sale_rep_first_name')">
                                                </project-input>
                                            </div>
                                            <div class="col-12">
                                                <project-input inputType="text" label="Last Name :"
                                                    requiredName="Last Name" [control]="Form.get('sale_rep_last_name')">
                                                </project-input>
                                            </div>
                                            <div class="col-12">
                                                <project-input inputType="text" label="Email :" requiredName="Email"
                                                    [control]="Form.get('sale_rep_email')">
                                                </project-input>
                                            </div>
                                            <div class="col-12">
                                                <project-input-telephone label="Telephone Number :" theme="dark"
                                                    requiredName="Telephone Number" [control]="Form.get('phone')"
                                                    [data]="arrobjRow.sale_rep_tel" (valueChange)="onDataTel($event)">
                                                </project-input-telephone>
                                            </div>
                                            <div class="col-12">
                                                <project-input-mobile-phone label="Mobile Number :" theme="dark"
                                                    requiredName="Mobile Number" [control]="Form.get('mobile')"
                                                    [data]="arrobjRow.sale_rep_mobile"
                                                    (valueChange)="onDataMobilel($event)">
                                                </project-input-mobile-phone>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="cover-input right">
                                                    <button type="button" nbButton status="primary"
                                                        (click)="btnDialogMab()">
                                                        <nb-icon icon="map-outline"></nb-icon>
                                                        Search by location
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <project-textarea rows="3" label="Address :" requiredName="Address"
                                                    [control]="Form.get('addressFull')">
                                                </project-textarea>
                                            </div>
                                            <div class="col-12">
                                                <project-input inputType="text" label="Address Number :"
                                                    requiredName="Address Number" [control]="Form.get('addressNo')">
                                                </project-input>
                                            </div>
                                            <div class="col-12">
                                                <project-ngx-select label="Province :" requiredName="Province"
                                                    optionValueField="location_name" optionTextField="location_name"
                                                    [items]="arrProvince" [control]="Form.get('province')"
                                                    placeholder="--------- Choose ---------"
                                                    (valueChange)='changeProvince($event)'>
                                                </project-ngx-select>
                                            </div>
                                            <div class="col-12">
                                                <project-ngx-select label="Amphoe :" requiredName="Amphoe"
                                                    optionValueField="location_name" optionTextField="location_name"
                                                    [items]="arrAmphoe" [control]="Form.get('amphoe')"
                                                    placeholder="--------- Choose ---------"
                                                    (valueChange)='changeAmphoe($event)'>
                                                </project-ngx-select>
                                            </div>
                                            <div class="col-12">
                                                <project-ngx-select label="Tambon :" requiredName="Tambon"
                                                    optionValueField="location_name" optionTextField="location_name"
                                                    [items]="arrTambon" [control]="Form.get('tambon')"
                                                    placeholder="--------- Choose ---------"
                                                    (valueChange)='changeTambon($event)'>
                                                </project-ngx-select>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <project-input inputType="text" label="Zipcode :" requiredName="Zipcode"
                                                    [control]="Form.get('zipcode')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <project-input inputType="text" label="Latitude Longitude :"
                                                    requiredName="Latitude Longitude"
                                                    [control]="Form.get('location_lat_location_lng')">
                                                </project-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>