<nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-lg-12" style="text-align: right">
                <img  style="cursor: pointer;" src="https://img.icons8.com/color/48/000000/cancel.png" width="30" (click)="btnCancelClick()">
        </div>
        </div><br>
        <div class="row">
            <div class="col-md-12">
                <img [src]="imgURL" alt="Nature" class="responsive" width="600" height="400">
                <!-- <img [src]="imgURL" alt="Nature" class="responsive" width="600" height="400"> -->
            </div>
        </div>
    </nb-card-body>
</nb-card> 