<nb-layout>
    <nb-layout-column>
        <div class="pages">
            <div class="row">
                <div class="col-12">
                    <nb-card>
                        <nb-card-header>
                            <div class="header">
                                <div class="row">
                                    <div class="col-auto mr-auto">
                                        <nb-icon class="icon-header" icon="cube-outline"></nb-icon>
                                        <label>Manager Products</label>
                                    </div>
                                    <div class="col-auto">
                                        <button nbButton size="medium" status="primary" (click)="_router().newProducts()">
                                            New Product
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </nb-card-header>
                    </nb-card>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <nb-card>
                        <nb-card-body>
                            <nb-route-tabset [tabs]="tabs">
                                <router-outlet></router-outlet>
                            </nb-route-tabset>
                        </nb-card-body>
                    </nb-card>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <project-footercomponent> </project-footercomponent>
                </div>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>