<div class="pages">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <nb-icon icon="browser-outline"></nb-icon>
                                <label>My Purchase<span class="p-0-12">/</span>Detail </label>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <button *ngIf="!loading" nbButton size="medium" status="success" [disabled]="openReply"
                                    (click)="btnReply()">
                                    Reply
                                </button>
                                <button *ngIf="!loading" nbButton size="medium" status="success"
                                    [disabled]="openConfirm" (click)="btnConfirm()">
                                    Delivery
                                </button>
                                <button nbButton size="medium" status="danger" (click)="btnCancel()">
                                    Back
                                </button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>PO No. {{arrPurchase.purchase_order_number}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="warning"
            [formGroup]="Form">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                            <nb-card>
                                <nb-card-body>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="row">
                                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                        <label> PO No. : </label>
                                                    </div>
                                                    <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                        <div class="cover-input">
                                                            <input status="primary" type="text" nbInput fullWidth
                                                                formControlName="purchase_order_number" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Delivery Date : </label>
                                                        </div>
                                                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                            <label class="status primary"
                                                                *ngIf="delivery_date > 0">{{arrPurchase.delivery_date * 1000 | date :'EEE dd/MM/yyyy'}}</label>
                                                            <label class="status orange"
                                                                *ngIf="delivery_date == 0">{{arrPurchase.delivery_date * 1000  | date :'EEE dd/MM/yyyy'}}</label>
                                                            <label class="status red"
                                                                *ngIf="delivery_date < 0">{{arrPurchase.delivery_date * 1000  | date :'EEE dd/MM/yyyy'}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Delivery Location : </label>
                                                        </div>
                                                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                            <textarea rows="3" type="text" status="primary" nbInput
                                                                fullWidth formControlName="delivery_location">
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Billing Name : </label>
                                                        </div>
                                                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                            <input status="primary" type="text" nbInput fullWidth
                                                                formControlName="billing_name" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Billing Address : </label>
                                                        </div>
                                                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                            <textarea rows="3" type="text" status="primary" nbInput
                                                                fullWidth formControlName="billing_address"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Billing Payment Term : </label>
                                                        </div>
                                                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                            <input status="primary" type="text" nbInput fullWidth
                                                                formControlName="billing_payment_term" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Billing Payment Due Date : </label>
                                                        </div>
                                                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                            <label class="status primary"
                                                                *ngIf="dueDateStatus > 0">{{dueDate  | date :'EEE dd/MM/yyyy'}}</label>
                                                            <label class="status orange"
                                                                *ngIf="dueDateStatus == 0">{{dueDate  | date :'EEE dd/MM/yyyy'}}</label>
                                                            <label class="status red"
                                                                *ngIf="dueDateStatus < 0">{{dueDate  | date :'EEE dd/MM/yyyy'}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Status : </label>
                                                        </div>
                                                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                            <label
                                                                [ngClass]="[arrPurchase.purchase_order_reply_id === 0 ? 'status primary' : 
                                                                (arrPurchase.purchase_order_reply_id === 1 ? 'status success' : 
                                                                (arrPurchase.purchase_order_reply_id === 2 ? 'status orange' : 
                                                                (arrPurchase.purchase_order_reply_id === 3 ? 'status red' : 'status red' )))]">{{arrPurchase.status}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Message : </label>
                                                        </div>
                                                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                            <input status="primary" type="text" nbInput fullWidth
                                                                formControlName="purchase_order_reply_msg" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                            <nb-card>
                                <nb-card-body>
                                    <project-order-summary *ngIf="arrPurchaseOrderSummary"
                                        [data]="arrPurchaseOrderSummary" [purchaseID]="arrPurchase.purchase_order_id"
                                        [openConfirm]="openReply" (reloadUpdate)="updateSummaryReload($event)">
                                    </project-order-summary>
                                </nb-card-body>
                            </nb-card>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                            <nb-card>
                                <nb-card-body>
                                    <table class="table hover" style="color: #ffffff;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Document Name
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody style="cursor: pointer;">
                                            <tr *ngFor="let doc of arrDoc" (click)="btnDocClick(doc.form_type_type_id)">
                                                <td>
                                                    <label>{{doc.form_type_text}}</label>
                                                </td>
                                                <td>
                                                    <nb-icon (click)="btnDocClick(doc.form_type_type_id)"
                                                        icon="printer-outline"></nb-icon>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </nb-card-body>
                            </nb-card>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12" *ngIf="!loading">
                            <nb-card>
                                <nb-card-body>
                                    <project-comp-payment [data]="purchase_order_paid_row"
                                        [payment_total]="payment_total" [over]="over"></project-comp-payment>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                            <nb-card>
                                <nb-card-body>
                                    <div class="body">
                                        <div class="row">
                                            <!-- <div class="col-12 col-md-12 col-lg-12 col-xl-12" *ngIf="isStatus == false">
                                                <div class="row">
                                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                        <div class="cover-select">
                                                            <label>Supplier Name</label>
                                                            <nb-select placeholder="--------- Choose ---------"
                                                                fullWidth outline status="basic"
                                                                [(ngModel)]="supplierName"
                                                                [ngModelOptions]="{standalone: true}">
                                                                <nb-option *ngFor="let supplier  of arrSupplier"
                                                                    [value]="supplier.supplier_name"
                                                                    (click)="SupplierID(supplier.supplier_id)">
                                                                    {{supplier.supplier_name}}
                                                                </nb-option>
                                                            </nb-select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                        <div class="cover-input">
                                                            <label>Product Name</label>
                                                            <ng-template #rt let-r="result" let-t="term">
                                                                <div class="row">
                                                                    <div class="col-3 col-md-3 col-lg-3 col-xl-3">
                                                                        <div class="cover-background-image">
                                                                            <div class="background-image padding-width-100px-height-100px"
                                                                                [ngClass]="{'active' : r.product_image_url === '-' || r.product_image_url === ''}"
                                                                                [ngStyle]="{'background-image': 'url('+r.product_image_url+')'}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-8 col-md-8 col-lg-8 col-xl-8">
                                                                        <ngb-highlight [result]="r.product_name"
                                                                            [term]="t"></ngb-highlight><br>
                                                                        <ngb-highlight [result]="r.product_sku"
                                                                            [term]="t"></ngb-highlight>
                                                                    </div>
                                                                </div>
                                                            </ng-template>
                                                            <input libOnlyCharacterDefault status="primary" nbInput
                                                                fullWidth status="basic" (focus)="onFocus($event)"
                                                                id="typeahead-template" type="text" class="form-control"
                                                                [(ngModel)]="selectedValue"
                                                                [ngModelOptions]="{standalone: true}"
                                                                placeholder="Search for product" [ngbTypeahead]="search"
                                                                [resultTemplate]="rt" [inputFormatter]="formatter" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <table class="table no-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="left">Image</th>
                                                            <th style="min-width: 400px;" class="left">Product Name</th>
                                                            <th style="min-width: 150px;" class="center">Quantity</th>
                                                            <th style="min-width: 100px;" class="right"></th>
                                                            <th style="min-width: 250px;" class="right">Unit Price</th>
                                                            <th style="min-width: 250px;" class="right">Total Price</th>
                                                            <th style="min-width: 120px;"></th>
                                                            <th>
                                                                <nb-icon icon="refresh-outline"></nb-icon>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <ng-container formArrayName="products">
                                                            <tr *ngFor="let item of products.controls; let i = index;">
                                                                <ng-container [formGroupName]="i">
                                                                    <td class="center">
                                                                        <div class="cover-background-image">
                                                                            <div class="background-image padding-width-100px-height-100px"
                                                                                [ngClass]="{'active' : item.value.request_product_image_url === '-' || item.value.request_product_image_url === ''}"
                                                                                (click)="openImg(item.value.request_product_image_url)"
                                                                                [ngStyle]="{'background-image': 'url('+item.value.request_product_image_url+')'}">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="left">
                                                                        <div>
                                                                            <label>{{item.value.request_product_name}}</label>
                                                                        </div>
                                                                        <div style="margin-top: -0.8rem;">
                                                                            <label
                                                                                class="bg-status-primary">{{item.value.request_product_sku}}</label>
                                                                        </div>
                                                                        <div style="padding-top: 1rem;">
                                                                            <a>{{item.value.product_data.product_data.product_attribute.weight | number}}</a>
                                                                            <a
                                                                                style="padding-left: 0.5rem;">{{item.value.product_data.product_data.product_attribute.weight_unit}}</a>
                                                                        </div>
                                                                        <div style="padding-top: 1rem" *ngIf="item.value.product_note !== '' &&
                                                                        item.value.product_note !== '-'">
                                                                            <label>{{item.value.product_note}}</label>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="cover-input">
                                                                            <input libOnlyCharacterDefault
                                                                                class="cover qty" status="primary"
                                                                                type="text" libOnlyCharacternumber
                                                                                mask="separator.0" thousandSeparator=","
                                                                                status="basic" nbInput fullWidth
                                                                                formControlName="request_product_qty"
                                                                                (keyup)="onKeyQuantity($event, item.value)" />
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="cover-product-unit">
                                                                            <p>
                                                                                {{item.value.product_data.product_unit}}
                                                                            </p>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="cover-input price">
                                                                            <a>{{item.value.product_data.product_data.product_currency_code}}</a>
                                                                            <input class="cover price" status="primary"
                                                                                type="text" libOnlyCharacternumber
                                                                                mask="separator.2" thousandSeparator=","
                                                                                status="basic" nbInput fullWidth
                                                                                formControlName="request_product_price"
                                                                                (keyup)="onKeyPrice($event, item.value)" />

                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="cover-input price">
                                                                            <a>{{item.value.product_data.product_data.product_currency_code}}</a>
                                                                            <input libOnlyCharacternumber
                                                                                mask="separator.2" thousandSeparator=","
                                                                                class="cover price" status="primary"
                                                                                type="text" status="basic" nbInput
                                                                                fullWidth disabled
                                                                                formControlName="request_product_price_sum" />

                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div *ngIf="isStatus == false">
                                                                            <div *ngIf="item.value.product_status == true"
                                                                                style="text-align: center; ">
                                                                                <button [nbSpinner]="item.value.loading"
                                                                                    nbSpinnerSize="tiny"
                                                                                    nbSpinnerStatus="warning" nbButton
                                                                                    status="info" size="medium"
                                                                                    (click)="btnUpdateProduct(item.value)">Update</button>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div *ngIf="isStatus == false">
                                                                            <div style="padding-top: 0.5rem;">
                                                                                <nb-icon
                                                                                    *ngIf="arrPurchaseProduct.length > 1"
                                                                                    icon="close-outline"
                                                                                    (click)="btnDeleteProduct(item.value)">
                                                                                </nb-icon>
                                                                            </div>
                                                                        </div>
                                                                    </td>

                                                                </ng-container>
                                                            </tr>
                                                        </ng-container>
                                                        <!-- <tr *ngFor="let productnew of arrProductsNew; let i = index">
                                                            <td class="center">
                                                                <div class="cover-background-image">
                                                                    <div class="background-image padding-width-100px-height-100px"
                                                                        [ngClass]="{'active' : productnew.product_image_url === '-' || productnew.product_image_url === ''}"
                                                                        (click)="openImg(productnew.product_image_url)"
                                                                        [ngStyle]="{'background-image': 'url('+productnew.product_image_url+')'}">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="left">
                                                                <label>{{productnew.product_name}}</label><br>
                                                                <label>{{productnew.product_sku}}</label><br>
                                                                <div class="cover-input">
                                                                    <input libOnlyCharacterDefault status="primary"
                                                                        type="text" status="basic" nbInput fullWidth
                                                                        [(ngModel)]="productnew.product_note"
                                                                        placeholder="Note" />
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="cover-input">
                                                                    <input libOnlyCharacterDefault
                                                                        style="text-align: right;" status="primary"
                                                                        type="text" status="basic" nbInput fullWidth
                                                                        [(ngModel)]="productnew.product_qty" />
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="cover-input">
                                                                    <input libOnlyCharacterDefault
                                                                        style="text-align: right;" status="primary"
                                                                        type="text" status="basic" nbInput fullWidth
                                                                        [(ngModel)]="productnew.product_price" />
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="cover-input">
                                                                    <input libOnlyCharacterDefault
                                                                        style="text-align: right;" status="primary"
                                                                        type="text" status="basic" nbInput fullWidth
                                                                        [disabled]="true"
                                                                        [ngModel]="productnew.product_qty * productnew.product_price | number : '1.2-2'" />
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div style="text-align: center">
                                                                    <button size="medium" nbButton status="info"
                                                                        (click)="btnAddProduct(productnew)">Add</button>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div style="padding-top: 0.5rem;">
                                                                    <nb-icon icon="close-outline"
                                                                        (click)="btnDeleteProductPre(i)">
                                                                    </nb-icon>
                                                                </div>

                                                            </td>
                                                        </tr> -->
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="row">
                                                    <div
                                                        class="col-12 offset-md-8 col-md-4 offset-lg-8  col-lg-4 offset-xl-8 col-xl-4">
                                                        <table class="table table-striped">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="right">
                                                                        <strong style="font-size: 18px;">
                                                                            Total
                                                                        </strong>
                                                                    </td>
                                                                    <td class="right">
                                                                        <strong style="font-size: 18px;">
                                                                            {{sum |  number : '1.2-2'}}
                                                                            THB
                                                                        </strong>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                    <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                                        <nb-card-header>
                                            <div class="header">
                                                <div class="row">
                                                    <div class="col-auto mr-auto">
                                                        <label style="font-size: 16px;">Check-In Status</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </nb-card-header>
                                    </nb-card>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                    <nb-card>
                                        <nb-card-body>
                                            <table class="table no-hover">
                                                <thead>
                                                    <th style="width: 100px;">
                                                        <label>Image</label>
                                                    </th>
                                                    <th style="width: 300px;">
                                                        <label>Item</label>
                                                    </th>
                                                    <th style="width: 400px; text-align: center;">
                                                        <div class="row">
                                                            <table style="width: 100%; padding: 0rem;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td
                                                                            style="width: 100px; text-align: center; border: 0px solid #dee2e6;">
                                                                            <label>Check-In</label>
                                                                        </td>
                                                                        <td
                                                                            style="width: 100px; text-align: left; border: 0px solid #dee2e6;">
                                                                            <label>Date</label>
                                                                        </td>
                                                                        <td
                                                                            style="width: 300px; text-align: left; border: 0px solid #dee2e6;">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of checkin_receive_array; let i = index">
                                                        <td>
                                                            <div class="cover-background-image">
                                                                <div class="background-image padding-width-100px-height-100px"
                                                                    [ngClass]="{'active' : item.product_image_url === '-' || item.product_image_url === ''}"
                                                                    [ngStyle]="{'background-image': 'url('+item.product_image_url+')'}">
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <label>{{item.product_title}}</label>
                                                            </div>
                                                            <div style="margin-top: -0.8rem;">
                                                                <label
                                                                    class="bg-status-primary">{{item.product_sku}}</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="row">
                                                                <table style="width: 100%; padding: 0rem;">
                                                                    <tbody>
                                                                        <tr *ngFor="let checkin of item.checkin">
                                                                            <td
                                                                                style="width: 100px; text-align: center; border: 0px solid #dee2e6">
                                                                                <label>{{checkin.checkin_qty_done}}/{{checkin.checkin_incoming}}</label>
                                                                            </td>
                                                                            <td
                                                                                style="width: 100px; text-align: left; border: 0px solid #dee2e6">
                                                                                <label>{{checkin.create_time * 1000 | date : 'dd/MM/yyyy'}}</label>
                                                                            </td>
                                                                            <td
                                                                                style="width: 300px; text-align: left; border: 0px solid #dee2e6">
                                                                                <div>
                                                                                    <button
                                                                                        *ngIf="checkin.image_array.length > 0"
                                                                                        style="margin: 3px 0px 3px 1rem;"
                                                                                        size="small" nbButton
                                                                                        status="gray"
                                                                                        (click)="btnImageClick(checkin)">
                                                                                        Image
                                                                                    </button>
                                                                                    <button *ngIf="checkin.note !== '-'"
                                                                                        style="margin: 3px 0px 3px 1rem;"
                                                                                        size="small" nbButton
                                                                                        status="gray"
                                                                                        (click)="btnNoteClick(checkin)">
                                                                                        Note
                                                                                    </button>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="checkin_receive_array.length == 0"
                                                        style="height:300px; background-color: #222b45;">
                                                        <td colspan="5" style="padding-top: 50px; text-align: center;">
                                                            <img src="assets/images/loading.png" width="300"><br><br>
                                                            <label>No data.</label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </nb-card-body>
                                    </nb-card>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-4" *ngIf="arrPurchase.purchase_order_id">
                            <project-order-messages [purchaseID]="arrPurchase.purchase_order_id">
                            </project-order-messages>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>