<nb-card>
    <nb-card-header>
        <img src="assets/images/placeorder.svg" class="pull-left m-r" width="45">&nbsp;
        <label style="font-size: 18px; font-weight: bold">Confirm PO</label>
    </nb-card-header>
    <nb-card-body>
        <!-- <div style="text-align: center">
            <img src="assets/images/checkmark.gif" width="80"><br><br>
        </div> -->

        <div class="row" style="text-align: center; padding-top: 2rem; padding-bottom: 2rem">
            <div class="col-md-12">
                <button nbButton style="width: 100px" status="danger"
                    (click)="btnCancelClick()">Cancel</button>&nbsp;&nbsp;
                <button nbButton style="width: 100px" status="success" (click)="btnSaveClick()">OK</button>

            </div>
        </div><br>
    </nb-card-body>
</nb-card>