<div class="pages" [formGroup]="Form">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;">
                <nb-card-header>
                    <div class="cover-header header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <!-- <nb-icon icon="grid-outline"></nb-icon>
                                <label>Dealers <span class="p-0-12">/</span>New Dealer</label> -->
                            </div>
                            <div class="col-auto">
                                <button [disabled]="!Form.valid || isCheckPhone" nbButton
                                    style="float: right;margin: 3px 0px 3px 1rem;" [nbSpinner]="image.update"
                                    nbSpinnerStatus="success" nbButton size="medium" status="success"
                                    (click)="btnSaveClick()">Save</button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div *ngIf="loading" class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading"
            nbSpinnerStatus="warning">
            <nb-card style="min-height: calc(100vh - 380px);">
                <nb-card-body>
                </nb-card-body>
            </nb-card>
        </div>
        <div *ngIf="!loading" class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-body style="padding-bottom: 2rem;">
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-12 col-md-6 col-lg-6 col-xl-6">
                                        <project-file-image [image_url_array]="image.main_image.get" theme="dark">
                                        </project-file-image>
                                        <div style="padding-bottom: 1rem;"></div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Supplier Name :"
                                                    requiredName="Supplier Name" [control]="Form.get('suppliername')">
                                                </project-input>
                                            </div>
                                            <!-- <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12"
                                                style="padding-bottom: 1rem;" *ngIf="!loading">
                                                <div
                                                    style="border: 2px solid #49506b;padding: 1rem;background-color: #1a2038; border-radius: 0.25rem;">
                                                    <div class="cover-input">
                                                        <label>Catalog Keyword </label>
                                                        <project-comp-category-own [status]="'Distributor'"
                                                            [active]="'Supplier'"
                                                            [product_category__name]="arrobjRow.supplier_catalog_keyword"
                                                            (categoryID)="categoryKeywordEvent($event)">
                                                        </project-comp-category-own>
                                                        <div *ngIf="submitted && !!f.catalogkeyword.errors">
                                                            <div class="required"
                                                                *ngIf="!!f.catalogkeyword.errors.required">
                                                                Catalog Keyword is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Supplier Keyword :"
                                                    requiredName="Supplier Keyword"
                                                    [control]="Form.get('supplierkeyword')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12" *ngIf="!loading">
                                                <div
                                                    style="border: 2px solid #49506b;padding: 1rem;background-color: #1a2038; border-radius: 0.25rem;">
                                                    <div class="cover-input">
                                                        <label>Supplier's Product Category</label>
                                                        <project-comp-category [status]="'Distributor'"
                                                            [active]="'Supplier'"
                                                            [product_category_root_id]="product_category_root_id"
                                                            (categoryID)="categoryEvent($event)">
                                                        </project-comp-category>
                                                        <div *ngIf="submitted && !!f.productcategory.errors">
                                                            <div class="required"
                                                                *ngIf="!!f.productcategory.errors.required">
                                                                Product Category is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cover-input" *ngIf="product_category__name == 'Other'">
                                                        <label>Custom Category :</label>
                                                        <input libOnlyCharacterDefault status="primary" type="text"
                                                            nbInput fullWidth status="primary"
                                                            formControlName="category_custom_keyword"
                                                            class="form-control"
                                                            [ngClass]="{ 'is-invalid': submitted && f.category_custom_keyword.errors }" />
                                                        <div *ngIf="submitted && !!f.category_custom_keyword.errors">
                                                            <div class="required"
                                                                *ngIf="!!f.category_custom_keyword.errors.required">
                                                                Custom Category is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row" style="padding-top: 1rem;">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-create-topic">
                                                    <label>
                                                        Address Information
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="First Name :"
                                                    requiredName="First Name" [control]="Form.get('firstName')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Last Name :"
                                                    requiredName="Last Name" [control]="Form.get('lastName')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Company Name :"
                                                    requiredName="Company Name" [control]="Form.get('companyName')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Email :" requiredName="Email"
                                                    [control]="Form.get('emailAddress')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input-telephone label="Telephone Number :"
                                                    requiredName="Telephone Number" [control]="Form.get('phone')"
                                                    theme="dark" [data]="arrobjRow.supplier_phone"
                                                    (valueChange)="onDataTel($event)">
                                                </project-input-telephone>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input-mobile-phone label="Mobile Number :"
                                                    requiredName="Mobile Number" [control]="Form.get('mobile')"
                                                    [data]="arrobjRow.supplier_addr_phone" theme="dark"
                                                    (valueChange)="onDataMobilel($event)">
                                                </project-input-mobile-phone>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input right">
                                                    <button nbButton status="primary" (click)="btnDialogMab()">
                                                        <nb-icon icon="map-outline"></nb-icon>
                                                        Search by location
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-textarea rows="3" label="Address :" requiredName="Address"
                                                    [control]="Form.get('Address')">
                                                </project-textarea>
                                            </div>
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Address Number :"
                                                    requiredName="Address Number" [control]="Form.get('number')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-ngx-select label="Province :" requiredName="Province"
                                                    optionValueField="location_name" optionTextField="location_name"
                                                    [items]="arrProvince" [control]="Form.get('province')"
                                                    placeholder="--------- Choose ---------"
                                                    (valueChange)='changeProvince($event)'>
                                                </project-ngx-select>
                                            </div>
                                            <div class="col-12">
                                                <project-ngx-select label="Amphoe :" requiredName="Amphoe"
                                                    optionValueField="location_name" optionTextField="location_name"
                                                    [items]="arrAmphoe" [control]="Form.get('amphoe')"
                                                    placeholder="--------- Choose ---------"
                                                    (valueChange)='changeAmphoe($event)'>
                                                </project-ngx-select>
                                            </div>
                                            <div class="col-12">
                                                <project-ngx-select label="Tambon :" requiredName="Tambon"
                                                    optionValueField="location_name" optionTextField="location_name"
                                                    [items]="arrTambon" [control]="Form.get('tambon')"
                                                    placeholder="--------- Choose ---------"
                                                    (valueChange)='changeTambon($event)'>
                                                </project-ngx-select>
                                            </div>
                                            <div class="col-6">
                                                <project-input inputType="text" label="Zipcode :" requiredName="Zipcode"
                                                    [control]="Form.get('zipcode')">
                                                </project-input>
                                            </div>
                                            <div class="col-6">
                                                <project-input inputType="text" label="Latitude Longitude :"
                                                    requiredName="Latitude Longitude"
                                                    [control]="Form.get('latitudeAndLongitude')">
                                                </project-input>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>

    </div>
</div>