<div class="pages" [formGroup]="formCreate">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <nb-icon icon="people-outline"></nb-icon>
                        <label>Saved Lists</label>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="body">
                        <div class="row" *ngIf="isData == 'new'">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <project-ngx-select label="List Name :" requiredName="List Name"
                                            optionValueField="supplier_lists_id"
                                            optionTextField="supplier_lists_name" [items]="arrSaveList"
                                            [control]="formCreate.get('name')" placeholder="--------- Choose ---------">
                                        </project-ngx-select>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button nbButton style="width: 100px" status="danger"
                                        (click)="btnCancelClick()">Cancel</button>
                                    <button [nbSpinner]="isSaveLodding" nbSpinnerSize="tiny" nbSpinnerStatus="success"
                                        nbButton [disabled]="!formCreate.valid"
                                        style="width: 100px; margin-left: 0.7rem;" status="success"
                                        (click)="btnOkClick()">OK</button>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="cover-button">
                                            <button class="full" nbButton fullwidth status="primary"
                                                (click)="btnCreate()">Create new
                                                saved list</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="isData == 'create'">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <project-input inputType="text" label="Name :" requiredName="Name"
                                            [control]="formCreate.get('name')">
                                        </project-input>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button nbButton style="width: 100px" status="danger"
                                        (click)="btnCancelClick()">Cancel</button>
                                    <button [nbSpinner]="isSaveLodding" nbSpinnerSize="tiny" nbSpinnerStatus="success"
                                        nbButton style="width: 100px; margin-left: 0.7rem;"
                                        [disabled]="!formCreate.valid" status="success"
                                        (click)="btnCreateClick()">Create</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="isData == 'Rename'">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <project-input inputType="text" label="Name :" requiredName="Name"
                                            [control]="formCreate.get('name')">
                                        </project-input>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button nbButton style="width: 100px" status="danger"
                                        (click)="btnCancelClick()">Cancel</button>
                                    <button [nbSpinner]="isSaveLodding" nbSpinnerSize="tiny" nbSpinnerStatus="success"
                                        nbButton style="width: 100px; margin-left: 0.7rem;"
                                        [disabled]="!formCreate.valid" status="success"
                                        (click)="btnRenameClick()">Update</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="isData == 'deleteList'">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row" style="padding-top: 1rem; text-align: center;">
                                    <div class="col-md-12" style="padding-top: 1rem;">
                                        <label style="font-size: 16px;">Are you sure you want to Delete ?</label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center" style="padding-top: 1rem;">
                                    <button nbButton style="width: 100px" status="gray"
                                        (click)="btnCancelClick()">Back</button>
                                    <button [nbSpinner]="isSaveLodding" nbSpinnerSize="tiny" nbSpinnerStatus="success"
                                        nbButton style="width: 100px; margin-left: 0.7rem;" status="danger"
                                        (click)="btnDeleteAllClick()">Delete</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="isData == 'delete'">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row" style="padding-top: 1rem; text-align: center;">
                                    <div class="col-md-12" style="padding-top: 1rem;">
                                        <label style="font-size: 16px;">Are you sure you want to Delete ?</label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center" style="padding-top: 1rem;">
                                    <button nbButton style="width: 100px" status="gray"
                                        (click)="btnCancelClick()">Back</button>
                                    <button [nbSpinner]="isSaveLodding" nbSpinnerSize="tiny" nbSpinnerStatus="success"
                                        nbButton style="width: 100px; margin-left: 0.7rem;" status="danger"
                                        (click)="btnDeleteClick()">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>