<form [formGroup]="stockForm">
    <div class="row">
        <div class="col-lg-12">
            <nb-card>
                <nb-card-body>
                    <img src="assets/images/inventory.svg" class="pull-left m-r" width="45">&nbsp;
                    <label style="font-size: 18px; font-weight: bold">Manage Stock</label>
                </nb-card-body>
            </nb-card>
        </div>
    </div>


    <nb-card>
        <nb-card-header>
            <div class="row">
                <div class="col-auto mr-auto">
                    <label>Manage Stock<span class="p-0-12">/</span>Create</label>
                </div>
                <div class="col-auto">
                    <button nbButton style="width: 100px" (click)="btnCancelClick()" status="danger">Cancel</button>
                    &nbsp;
                    <button nbButton style="width: 100px" (click)="btnSaveClick()" status="success">Save</button>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-lg-12" style="padding-bottom: 1rem">
                    <label>Warehouse Name</label>
                    <input nbInput status="primary" type="text" nbInput fullWidth formControlName="name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" [(ngModel)]="arrobjRow.warehouse_name" />
                    <div *ngIf="submitted && !!f.name.errors" class="invalid-feedback">
                        <div style="text-align: left" *ngIf="!!f.name.errors.required">
                            Name is required
                        </div>
                    </div>
                </div><br>
                <div class="col-lg-12" style="padding-bottom: 1rem">
                    <label>Telephone Number</label>
                    <input nbInput status="primary" type="text" nbInput fullWidth formControlName="phone" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" [(ngModel)]="arrobjRow.warehouse_mobile" />
                    <div *ngIf="submitted && !!f.phone.errors" class="invalid-feedback">
                        <div style="text-align: left" *ngIf="!!f.phone.errors.required">
                            Telephone Number is required</div>
                    </div>
                </div><br>
                
                <div class="col-lg-12" style="text-align: right">
                    <img src="assets/images/mab.jpg" style="width: 100px; cursor: pointer;" (click)="btnDialogMab()">
                </div>

                <div class="col-lg-12" style="padding-bottom: 1rem">
                    <label> Address Number</label>
                    <input nbInput status="primary" type="text" nbInput fullWidth formControlName="number" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.number.errors }"
                        [(ngModel)]="arrobjRow.warehouse_addr_number" />
                    <div *ngIf="submitted && !!f.number.errors" class="invalid-feedback">
                        <div style="text-align: left" *ngIf="!!f.number.errors.required">
                            Address Number is required</div>
                    </div>
                </div><br>
                <div class="col-lg-12" style="padding-bottom: 1rem">
                    <label>State</label>
                    <nb-select [ngClass]="{ 'is-invalid': submitted && strState == '' }"  fullWidth status="primary" 
                        (selectedChange)="getStateNew($event)" [(ngModel)]="strState"
                        [ngModelOptions]="{standalone: true}">
                        <nb-option value="">-------------- กรุณาเลือก ---------------</nb-option>
                        <nb-option *ngFor="let arrstate of arrobjState" [value]="arrstate.location_name">
                            {{arrstate.location_name}}</nb-option>
                    </nb-select>
                    <div style="text-align: left; color: #dc3545;font-size: 12px" *ngIf="isValidatorsstate == 'no'">
                        State is required
                    </div>
                </div><br>
                <div class="col-lg-12" style="padding-bottom: 1rem">
                    <label>City</label>
                    <nb-select [ngClass]="{ 'is-invalid': submitted && strCity == '' }"  placeholder="City" fullWidth status="primary" (selectedChange)="getCityNew($event)"
                        [(ngModel)]="strCity" [ngModelOptions]="{standalone: true}">
                        <nb-option value="">-------------- กรุณาเลือก ---------------</nb-option>
                        <nb-option *ngFor="let city of arrobjCity" [value]="city.location_name">
                            {{city.location_name}}</nb-option>
                    </nb-select>
                    <div style="text-align: left; color: #dc3545;font-size: 12px" *ngIf="isValidatorsCity == 'no'">
                        City is required
                    </div>
                </div><br>
                <div class="col-lg-12" style="padding-bottom: 1rem">
                    <label>Town</label>
                    <nb-select [ngClass]="{ 'is-invalid': submitted && strTown == '' }"  placeholder="Town" fullWidth status="primary" (selectedChange)="getTownNew($event)"
                        [(ngModel)]="strTown" [ngModelOptions]="{standalone: true}">
                        <nb-option value="">-------------- กรุณาเลือก ---------------</nb-option>
                        <nb-option *ngFor="let Town of arrobjTown" [value]="Town.location_name">
                            {{Town.location_name}}</nb-option>
                    </nb-select>
                    <div style="text-align: left; color: #dc3545;font-size: 12px" *ngIf="isValidatorsTown == 'no'">
                        Town is required
                    </div>
                </div><br>
                <div class="col-lg-12" style="padding-bottom: 1rem">
                    <label>Zipcode</label>
                    <input nbInput status="primary" type="text" nbInput fullWidth formControlName="zipcode" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" [(ngModel)]="strZipcode" />
                    <div *ngIf="submitted && !!f.zipcode.errors" class="invalid-feedback">
                        <div style="text-align: left" *ngIf="!!f.zipcode.errors.required">
                            Zipcode is required
                        </div>
                    </div>
                </div>

            </div>



        </nb-card-body>
    </nb-card>

</form>