@import "../../../../../../libs/theme-dealer/src/lib/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";


.cover-input {
    text-align: left;
}
.cover-background-image {
    width: 350px;
    padding-bottom: 1rem;

    .background-image {
        padding-top: 220px;
        background-size: contain;
        border: 1px solid #dee2e6;
        background-color: #edf1f7;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@include nb-install-component() {
    .show-grid {
        .row {
            margin: -0.5rem;
        }

        div[class^="col-"] {
            padding: 0.5rem;
            box-sizing: border-box;

            div {
                padding: 0.5rem 0.25rem;
                border-radius: 0.25rem;
            }
        }
    }

    thead {
        font-size: 14px;
    }

    th {
        padding-left: 2px;
        padding-right: 2px;
    }

    td {
        padding-left: 2px;
        padding-right: 2px;
    }

    tbody {
        font-size: 14px;
    }

    table tr:nth-child(even) {
        background: #f1f4ff;
    }
}
