<div class="pages">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">

            <nb-card *ngIf="status == 'Group'" style="width: 700px">
                <nb-card-header>
                    <div class="header">
                        <nb-icon class="icon-header" icon="people-outline"></nb-icon>
                        <label *ngIf="RowID == 'new'">My Group<span class="p-0-12">/</span>New
                            Group</label>
                        <label *ngIf="RowID != 'new'">My Group<span class="p-0-12">/</span>Update</label>
                    </div>
                </nb-card-header>
                <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="primary">
                    <div class="body">
                        <div class="row" [formGroup]="Form">
                            <div class="col-6">
                                <project-input inputType="text" label="Name :" requiredName="Name"
                                    [control]="Form.get('TeamName')">
                                </project-input>
                            </div>
                            <div class="col-6">
                                <div class="cover-input">
                                    <label>Image :</label>
                                    <project-file-image theme="white" [image_url_array]="image.main_image.get">
                                    </project-file-image>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
                <nb-card-footer>
                    <div class="d-flex justify-content-center">
                        <button style="width: 100px" *ngIf="RowID == 'new'" nbButton size="medium" status="danger"
                            (click)="btnCancelClick()">
                            Cancel
                        </button>
                        <button style="width: 100px" *ngIf="RowID != 'new'" nbButton size="medium" status="danger"
                            (click)="btnBackClick()">
                            Cancel
                        </button>
                        <button [nbSpinner]="image.update" nbSpinnerStatus="success" [disabled]="!Form.valid"
                            style="width: 100px;  margin-left: 0.7rem;" *ngIf="RowID == 'new' && !loading" nbButton
                            size="medium" status="success" (click)="btnSaveClick()">
                            Save
                        </button>
                        <button [nbSpinner]="image.update" nbSpinnerStatus="success" [disabled]="!Form.valid"
                            style="width: 100px ; margin-left: 0.7rem;" *ngIf="RowID != 'new' && !loading" nbButton
                            size="medium" status="success" (click)="btnSaveClick()">
                            Update
                        </button>
                    </div>
                </nb-card-footer>
            </nb-card>

            <nb-card *ngIf="status == 'Team'" style="width: 700px">
                <nb-card-header>
                    <div class="header">
                        <nb-icon class="icon-header" icon="people-outline"></nb-icon>
                        <label *ngIf="RowID == 'new'">{{group_name}}<span class="p-0-12">/</span>New
                            Team</label>
                        <label *ngIf="RowID != 'new'">My Team<span class="p-0-12">/</span>Update</label>
                    </div>
                </nb-card-header>
                <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="primary">
                    <div class="body">
                        <div class="row" [formGroup]="Form">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12" style="margin-bottom: 0.5rem;">
                                        <project-input inputType="text" label="Name :" requiredName="Name"
                                            [control]="Form.get('TeamName')">
                                        </project-input>
                                    </div>
                                    <div class="col-12" style="margin-bottom: 0.5rem;">
                                        <project-input inputType="text" label="Commission (%) :"
                                            requiredName="Commission (%)" [control]="Form.get('percent_commission')">
                                        </project-input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="cover-input">
                                    <label>Image : </label>
                                    <project-file-image theme="white" [image_url_array]="image.main_image.get">
                                    </project-file-image>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
                <nb-card-footer>
                    <div class="d-flex justify-content-center">
                        <button style="width: 100px" *ngIf="RowID == 'new'" nbButton size="medium" status="danger"
                            (click)="btnCancelClick()">
                            Cancel
                        </button>
                        <button style="width: 100px" *ngIf="RowID != 'new'" nbButton size="medium" status="danger"
                            (click)="btnBackClick()">
                            Cancel
                        </button>
                        <button [nbSpinner]="image.update" nbSpinnerStatus="success" [disabled]="!Form.valid"
                            style="width: 100px;  margin-left: 0.7rem;" *ngIf="RowID == 'new' && !loading" nbButton
                            size="medium" status="success" (click)="btnSaveClick()">
                            Save
                        </button>
                        <button [nbSpinner]="image.update" nbSpinnerStatus="success" [disabled]="!Form.valid"
                            style="width: 100px ; margin-left: 0.7rem;" *ngIf="RowID != 'new' && !loading" nbButton
                            size="medium" status="success" (click)="btnSaveClick()">
                            Update
                        </button>
                    </div>
                </nb-card-footer>
            </nb-card>

        </div>
    </div>
</div>