<div class="pages">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="header" style="margin: 0;">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="row">
                                        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                            <div class="cover-form icon">
                                                <nb-icon style="right: 0px;" icon="search-outline"></nb-icon>
                                                <nb-icon *ngIf="strname" (click)="refreshName()"
                                                    style="float: right;left: 0; cursor: pointer;" icon="close-outline">
                                                </nb-icon>
                                                <input libOnlyCharacterDefault nbInput status="primary" type="text"
                                                    fullWidth placeholder="Search for name" [(ngModel)]="strname"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (keyup.enter)="filterName($event.target.value)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="cover-input">
                                        <label>Ex. Test</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="loading">
                            <table class="table hover">
                                <thead>
                                    <tr>
                                        <th class="left">
                                            Image
                                        </th>
                                        <th class="left">
                                            Supplier Name
                                        </th>
                                        <th class="left">
                                            Product Category
                                        </th>
                                        <th class="left">
                                            Email
                                        </th>
                                        <th class="left">
                                            Contact Number
                                        </th>
                                        <th class="left">
                                            Location
                                        </th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr style="height:300px; background-color: #ffffff;">
                                        <td colspan="9" style="padding-top: 50px;">
                                            <div style="height: 100px;background-color: #ffffff;" [nbSpinner]="loading"
                                                nbSpinnerStatus="primary">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="isSearchbyname == 'data' && !loading">
                            <nb-card class="own-scroll padding-0">
                                <nb-card-body class="padding-0">
                                    <!-- <table class="table hover" style="width: 100%;">
                                        <thead >
                                            <tr>
                                                <th class="left">Images</th>
                                                <th class="left">Supplier Name </th>
                                                <th class="left">Product Category</th>
                                                <th class="left">Email</th>
                                                <th class="left">Contact Number</th>
                                                <th class="left">Location</th>
                                                <th></th>
                                                <th></th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody style="cursor: pointer;">
                                            <tr *ngFor="let name  of arrNames" (click)="btnRowName(name.supplier_id)">
                                                <td>
                                                    <div class="cover-background-image">
                                                        <div class="background-image padding-width-100px-height-100px"
                                                            [ngClass]="{'active' : name.supplier_image_url === '-' || name.supplier_image_url === ''}"
                                                            [ngStyle]="{'background-image': 'url('+name.supplier_image_url+')'}">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="left"> <a>{{name.supplier_name}}</a></td>
                                                <td class="left"> <a>{{name.product_category_keyword}}</a></td>
                                                <td class="left"> <a>{{name.supplier_company_contact}}</a></td>
                                                <td class="left"> <a>{{name.supplier_addr_phone}}</a></td>
                                                <td class="left"> <a>{{name.supplier_addr_amphoe + "," + name.supplier_addr_province}}</a></td>
                                                <td title="Save lists">
                                                    <div (click)="btnDialogSavelists(name); $event.stopPropagation()">
                                                        <nb-icon icon="list-outline">
                                                        </nb-icon>
                                                    </div>
                                                </td>
                                                <td title="Wish lists">
                                                    <div *ngIf="name.supplier_is_wish === 0"
                                                        (click)="btnDialogWishlist(name); $event.stopPropagation()">
                                                        <nb-icon icon="heart-outline">
                                                        </nb-icon>
                                                    </div>
                                                    <div *ngIf="name.supplier_is_wish === 1"
                                                        (click)="btnDialogWishlist(name); $event.stopPropagation()">
                                                        <nb-icon style="color: red" icon="heart-outline"></nb-icon>
                                                    </div>
                                                </td>
                                                <td title="Request">
                                                    <button (click)="btnDialogRequest(name); $event.stopPropagation()"
                                                        nbButton size="small">Request</button>
                                                </td>
                                        </tbody>
                                    </table> -->
                                    <ngx-datatable [columnMode]="ColumnMode.force" [rows]="arrNames" rowHeight="auto"
                                        [headerHeight]="46" (activate)="btnRowName($event)" [scrollbarH]="true"
                                        [summaryRow]="true">
                                        <ngx-datatable-column name="Images" [width]="120">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <div class="cover-background-image">
                                                    <div class="background-image padding-width-100px-height-100px"
                                                        [ngClass]="{'active' : row.supplier_image_url === '-' || row.supplier_image_url=== ''}"
                                                        [ngStyle]="{'background-image': 'url('+row.supplier_image_url+')'}">
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Supplier Name" [sortable]="true"
                                            prop="supplier_name">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                {{ row.supplier_name }}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Product Category" [sortable]="true"
                                            prop="product_category_keyword" [canAutoResize]="false">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <div>{{ row.product_category_keyword }}</div>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Email" [sortable]="true"
                                            prop="supplier_company_contact">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                {{ row.supplier_company_contact }}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Contact Number " [sortable]="true"
                                            prop="supplier_addr_phone">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                {{ row.supplier_addr_phone }}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Location" [sortable]="true"
                                            prop="supplier_addr_province">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                {{ row.supplier_addr_amphoe + ", " + row.supplier_addr_province }}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column [width]="30">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <button type="button" class="buttonlist"
                                                    (click)="btnDialogSavelists(row); $event.stopPropagation()">
                                                    <nb-icon icon="list-outline"></nb-icon>
                                                </button>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column [width]="30">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <div *ngIf="row.supplier_is_wish === 0"
                                                    (click)="btnDialogWishlist(row); $event.stopPropagation()">
                                                    <nb-icon icon="heart-outline">
                                                    </nb-icon>
                                                </div>
                                                <div *ngIf="row.supplier_is_wish === 1"
                                                    (click)="btnDialogWishlist(row); $event.stopPropagation()">
                                                    <nb-icon style="color: red" icon="heart-outline"></nb-icon>
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column [width]="100">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <button *ngIf="row.show_request_button === 0" nbButton status="warning"
                                                    size="small"
                                                    (click)="btnDialogRequested(row); $event.stopPropagation()">Requested</button>
                                                <button *ngIf="row.show_request_button === 1"
                                                    (click)="btnDialogRequest(row); $event.stopPropagation()" nbButton
                                                    size="small">Request</button>
                                            </ng-template>
                                        </ngx-datatable-column>

                                    </ngx-datatable> 
                                </nb-card-body>
                            </nb-card>
                        </div>
                        <div *ngIf="isSearchbyname == 'Nodata'  && !loading">
                            <nb-card class="own-scroll padding-0" style="width: 100%;">
                                <nb-card-body class="padding-0">
                                    <table class="table hover">
                                        <thead>
                                            <tr>
                                                <th class="left">Images</th>
                                                <th class="left">Supplier Name
                                                </th>
                                                <th class="left">Product Category</th>
                                                <th class="left">Email</th>
                                                <th class="left">Contact Number</th>
                                                <th class="left">Location</th>
                                                <th></th>
                                                <th></th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="row" style="
                                        padding: 2rem 0;
                                    ">
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12"
                                            style="text-align: center;    margin-bottom: 1rem;">
                                            <img src="assets/images/loading.png" width="300">
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center;">
                                            <label>No data. Please select information in the
                                                list</label>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>