<div class="pages" [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <nb-icon class="icon-header" icon="cube-outline"></nb-icon>
                                <label *ngIf="RowID == 'new'">Warehouse<span class="p-0-12">/</span>New
                                    Warehouse</label>
                                <label *ngIf="RowID != 'new'">Warehouse<span class="p-0-12">/</span>Update<span
                                        class="p-0-12">/</span> {{arrobjRow.warehouse_name}}</label>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <button [disabled]="Form.invalid || isCheckPhone" *ngIf="RowID == 'new' && !loading"
                                    style="float: right;margin: 3px 0 3px 1rem;" [nbSpinner]="image.update"
                                    nbSpinnerStatus="success" nbButton size="medium" status="success"
                                    (click)="btnSaveClick()">
                                    Save
                                </button>
                                <button [disabled]="Form.invalid || isCheckPhone" *ngIf="RowID != 'new' && !loading"
                                    style="float: right;margin: 3px 0 3px 1rem;" [nbSpinner]="image.update"
                                    nbSpinnerStatus="success" nbButton size="medium" status="success"
                                    (click)="btnSaveClick()">
                                    Update
                                </button>
                                <button *ngIf="RowID == 'new'" style="float: right;margin: 3px 0 3px 1rem;" nbButton
                                    size="medium" status="danger" (click)="btnCancelClick()">
                                    Cancel
                                </button>
                                <button *ngIf="RowID != 'new'" style="float: right;margin: 3px 0 3px 1rem;" nbButton
                                    size="medium" status="danger" (click)="btnBackClick()">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="primary">
            <nb-card>
                <nb-card-body style="padding-bottom: 2rem;">
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-12 col-md-6 col-lg-6 col-xl-6">
                                        <project-file-image theme="dark" [image_url_array]="image.main_image.get">
                                        </project-file-image>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <project-input inputType="text" label="Warehouse Name :"
                                                    requiredName="Warehouse Name" [control]="Form.get('warehouseName')">
                                                </project-input>
                                            </div>
                                            <div class="col-12">
                                                <project-input-telephone label="Telephone Number :"
                                                    requiredName="Telephone Number" [control]="Form.get('phone')"
                                                    [data]="arrobjRow.warehouse_tel" theme="dark"
                                                    (valueChange)="onDataTel($event)">
                                                </project-input-telephone>
                                            </div>
                                            <div class="col-12">
                                                <project-input-mobile-phone label="Mobile Number :"
                                                    requiredName="Mobile Number" [control]="Form.get('mobile')"
                                                    [data]="arrobjRow.warehouse_mobile" theme="dark"
                                                    (valueChange)="onDataMobilel($event)">
                                                </project-input-mobile-phone>
                                            </div>
                                            <div class="col-12">
                                                <div class="cover-input" style="padding-top: 0.5rem;">
                                                    <button nbButton status="primary" (click)="btnDialogMab()">
                                                        <nb-icon icon="map-outline"></nb-icon>
                                                        Search by location
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <project-textarea rows="3" label="Address :" requiredName="Address"
                                                    [control]="Form.get('addressFull')">
                                                </project-textarea>
                                            </div>
                                            <div class="col-12">
                                                <project-input inputType="text" label="Address Number :"
                                                    requiredName="Address Number" [control]="Form.get('addressNo')">
                                                </project-input>
                                            </div>
                                            <div class="col-12">
                                                <project-ngx-select label="Province :" requiredName="Province"
                                                    optionValueField="location_name" optionTextField="location_name"
                                                    [items]="arrProvince" [control]="Form.get('province')"
                                                    placeholder="--------- Choose ---------"
                                                    (valueChange)='changeProvince($event)'>
                                                </project-ngx-select>
                                            </div>
                                            <div class="col-12">
                                                <project-ngx-select label="Amphoe :" requiredName="Amphoe"
                                                    optionValueField="location_name" optionTextField="location_name"
                                                    [items]="arrAmphoe" [control]="Form.get('amphoe')"
                                                    placeholder="--------- Choose ---------"
                                                    (valueChange)='changeAmphoe($event)'>
                                                </project-ngx-select>
                                            </div>
                                            <div class="col-12">
                                                <project-ngx-select label="Tambon :" requiredName="Tambon"
                                                    optionValueField="location_name" optionTextField="location_name"
                                                    [items]="arrTambon" [control]="Form.get('tambon')"
                                                    placeholder="--------- Choose ---------"
                                                    (valueChange)='changeTambon($event)'>
                                                </project-ngx-select>
                                                <!-- <div class="cover-input">
                                                    <label>Tambon</label>
                                                    <ngx-select [allowClear]="true"
                                                        [ngClass]="{ 'is-invalid': submitted && f.tambon.errors }"
                                                        [items]="arrTambon" optionValueField="location_name"
                                                        optionTextField="location_name" formControlName="tambon"
                                                        placeholder="--------- Choose ---------"
                                                        (select)="changeTambon($event)">
                                                    </ngx-select>
                                                    <div *ngIf="submitted && !!f.tambon.errors">
                                                        <div class="required" *ngIf="!!f.tambon.errors.required">
                                                            Tambon is required
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <project-input inputType="text" label="Zipcode :" requiredName="Zipcode"
                                                    [control]="Form.get('zipcode')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <project-input inputType="text" label="Latitude Longitude :"
                                                    requiredName="Latitude Longitude"
                                                    [control]="Form.get('location_lat_location_lng')">
                                                </project-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div *ngIf="strSave ==''" class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>