<div class="pages">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <nb-icon style="float: left; " icon="people-outline"></nb-icon>
                                <label style="padding-top: 0.2rem;">My Supplier <span class="p-0-12">/</span>
                                    Detail</label>
                            </div>
                            <div class="col-auto">
                                <button style="margin: 3px 0px 3px 1rem;" nbButton type="button" size="medium"
                                    status="danger" (click)="btnCancelClick()">
                                    Back
                                </button>
                                <button *ngIf="!loading" style="float: right;margin: 3px 0px 3px 1rem;" nbButton
                                    type="button" size="medium" status="success" (click)="btnEditClick()">
                                    Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>{{arrSupplier.supplier_name}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="primary">
            <nb-card>
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <form [formGroup]="Form">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="row">
                                                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="row show-grid" style="text-align: center">
                                                        <div class="col-lg-12">
                                                            <project-display-file-image theme="white"
                                                                [image_url_array]="image.main_image.get">
                                                            </project-display-file-image>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="row show-grid">
                                                        <div class="col-lg-12">
                                                            <label>Supplier Name :</label>
                                                            <input nbInput status="primary" type="text"
                                                                class="btnDisabled" nbInput fullWidth
                                                                formControlName="suppliername" /><br>
                                                        </div>
                                                    </div>
                                                    <div class="row show-grid">
                                                        <div class="col-lg-12">
                                                            <label>Supplier's Product Category :</label>
                                                            <input nbInput status="primary" type="text"
                                                                class="btnDisabled" nbInput fullWidth
                                                                formControlName="productcategory" /><br>
                                                        </div>
                                                    </div>
                                                    <div class="row show-grid">
                                                        <div class="col-lg-12">
                                                            <label>Custom Category :</label>
                                                            <input nbInput status="primary" type="text"
                                                                class="btnDisabled" nbInput fullWidth
                                                                formControlName="category_custom_keyword" /><br>
                                                        </div>
                                                    </div>

                                                    <div class="row show-grid">
                                                        <div class="col-lg-12">
                                                            <label>Catalog Keyword:</label>
                                                            <input nbInput status="primary" type="text"
                                                                class="btnDisabled" nbInput fullWidth
                                                                formControlName="catalogkeyword" /><br>
                                                        </div>
                                                    </div>
                                                    <div class="row show-grid">
                                                        <div class="col-lg-12">
                                                            <label>Supplier Keyword :</label>
                                                            <input nbInput status="primary" type="text"
                                                                class="btnDisabled" nbInput fullWidth
                                                                formControlName="supplierkeyword" /><br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="row">
                                                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="row show-grid">
                                                        <div class="col-lg-12">
                                                            <label>First Name :</label>
                                                            <input nbInput status="primary" type="text"
                                                                class="btnDisabled" nbInput fullWidth
                                                                formControlName="firstName" /><br>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <label>Last Name :</label>
                                                            <input nbInput status="primary" type="text"
                                                                class="btnDisabled" nbInput fullWidth
                                                                formControlName="lastName" /><br>
                                                        </div>
                                                    </div>
                                                    <div class="row show-grid">
                                                        <div class="col-lg-12">
                                                            <label>Company Name :</label>
                                                            <input nbInput status="primary" type="text"
                                                                class="btnDisabled" nbInput fullWidth
                                                                formControlName="companyName" /><br>
                                                        </div>
                                                    </div>
                                                    <div class="row show-grid">
                                                        <div class="col-lg-12">
                                                            <label>Email :</label>
                                                            <input nbInput status="primary" type="text"
                                                                class="btnDisabled" nbInput fullWidth
                                                                formControlName="emailAddress" /><br>
                                                        </div>
                                                    </div>
                                                    <div class="row show-grid">
                                                        <div class="col-lg-12">
                                                            <label>Telephone Number :</label>
                                                            <input nbInput status="primary" type="text"
                                                                libOnlyCharacterphonnumber class="btnDisabled" nbInput
                                                                fullWidth formControlName="phoneNo" /><br>
                                                        </div>
                                                    </div>
                                                    <div class="row show-grid">
                                                        <div class="col-lg-12">
                                                            <label>Mobile Phone Number :</label>
                                                            <input nbInput status="primary" type="text"
                                                                mask='000-000-0000' placeholder="XXX-XXX-XXXX"
                                                                class="btnDisabled" nbInput fullWidth
                                                                formControlName="mobileNo" /><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="row show-grid">
                                                        <div class="col-lg-12">
                                                            <label>Address :</label>
                                                            <textarea style="min-height: 90px;" nbInput status="primary"
                                                                type="text" class="btnDisabled" nbInput fullWidth
                                                                formControlName="AddressFull"> </textarea><br>
                                                        </div>
                                                    </div>
                                                    <div class="row show-grid">
                                                        <div class="col-lg-12">
                                                            <label>Address Number :</label>
                                                            <input nbInput status="primary" type="text"
                                                                class="btnDisabled" nbInput fullWidth
                                                                formControlName="AddressNo" /><br>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <label>Tambon :</label>
                                                            <input nbInput status="primary" type="text"
                                                                class="btnDisabled" nbInput fullWidth
                                                                formControlName="tambon" /><br>
                                                        </div>
                                                    </div>
                                                    <div class="row show-grid">
                                                        <div class="col-lg-12">
                                                            <label>Amphoe :</label>
                                                            <input nbInput status="primary" type="text"
                                                                class="btnDisabled" nbInput fullWidth
                                                                formControlName="amphoe" /><br>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <label>Province :</label>
                                                            <input nbInput status="primary" type="text"
                                                                class="btnDisabled" nbInput fullWidth
                                                                formControlName="province" /><br>
                                                        </div>
                                                    </div>
                                                    <div class="row show-grid">
                                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6"
                                                            style="text-align: left;">
                                                            <label>Zipcode :</label>
                                                            <input nbInput status="primary" type="text"
                                                                class="btnDisabled" nbInput fullWidth
                                                                formControlName="zipcode" />
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6"
                                                            style="text-align: left;">
                                                            <label> Latitude Longitude</label>
                                                            <input nbInput status="primary" type="text"
                                                                class="btnDisabled" disabled fullWidth
                                                                [(ngModel)]="arrSupplier.supplier_addr_location_lat + ',' + arrSupplier.supplier_addr_location_lng"
                                                                [ngModelOptions]="{standalone: true}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form><br>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
            <nb-card *ngIf="isProduct === true">
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <project-add-product [supplier_id]="RowID" (status)="okClick($event)"></project-add-product>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
            <nb-card>
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-lg-12" style="text-align: right">
                                        <button *ngIf="isAdd === true" nbButton status="success"
                                            (click)="addProducts()">Add
                                            Product</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- <table class="table no-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: left">Image</th>
                                                    <th style="text-align: left; width: 30%;">Product Name</th>
                                                    <th style="text-align: left"> Product SKU</th>
                                                    <th style="text-align: right">Product Price</th>
                                                    <th style="text-align: left">Product Wholesale</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let Product of arrSupplierProduct">
                                                    <td style="text-align: left">
                                                        <div class="cover-background-image">
                                                            <div class="background-image padding-width-100px-height-100px"
                                                                [ngClass]="{'active' : Product.product_image_url === '-' || Product.product_image_url === ''}"
                                                                [ngStyle]="{'background-image': 'url('+Product.product_image_url+')'}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: left">
                                                        <label>{{Product.product_name }}</label>
                                                    </td>
                                                    <td style="text-align: left">
                                                        <label class="sku">{{Product.product_sku }}</label>
                                                    </td>
                                                    <td style="text-align: right">
                                                        <label class="cover price">
                                                            {{Product.product_price | number : '1.2-2' }}
                                                        </label>
                                                        <label class="cover thb">THB</label>
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-12" style="padding: 0rem; ">
                                                                <table class="table no-hover"
                                                                    style="border: 1px solid #dee2e6">
                                                                    <thead>
                                                                        <tr>
                                                                            <th
                                                                                style="text-align: center; width: 40%; border-right: 1px solid #dee2e6;">
                                                                                Qty Minimum
                                                                            </th>
                                                                            <th style="text-align: right">
                                                                                Wholesale Price
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr
                                                                            *ngFor="let wholesale_array of Product.product_wholesale_array">
                                                                            <td
                                                                                style="border-right: 1px solid #dee2e6;">
                                                                                <a class="cover qty">
                                                                                    {{wholesale_array.qty_minimum | number}}
                                                                                </a>
                                                                            </td>
                                                                            <td style="text-align: right">
                                                                                <a class="cover price">
                                                                                    {{wholesale_array.product_price  | number : '1.2-2'}}
                                                                                </a>
                                                                                <a class="cover thb">THB</a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="arrSupplierProduct.length == 0"
                                                    style="height:300px; background-color: white;">
                                                    <td colspan="5" style="padding-top: 50px;">
                                                        <img src="assets/images/loading.png" width="250"><br><br>
                                                        <label>No data.</label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table> -->
                                        <project-comp-products-supplier-detail [data]="arrSupplierProduct"></project-comp-products-supplier-detail>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
            <nb-card
                *ngIf="!loading && arrSupplier.supplier_addr_location_lat != 0 && arrSupplier.supplier_addr_location_lng != 0">
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <project-map [let]="arrSupplier.supplier_addr_location_lat"
                                            [long]="arrSupplier.supplier_addr_location_lng">
                                        </project-map>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>

        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        </div>

    </div>
</div>
<!-- <div style="height: 100px;background-color: white;" [nbSpinner]="loading" nbSpinnerStatus="primary">
</div> -->