@import "../../../../../../../libs/theme/src/lib/styles/themes";
@import "~@nebular/bootstrap/styles/buttons";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  .show-grid {
    .row {
      margin: -0.5rem;
    }

    div[class^="col-"] {
      padding: 0.5rem;
      box-sizing: border-box;

      div {
        text-align: center;
        padding: 0.5rem 0.25rem;
        border-radius: 0.25rem;
      }
    }
  }

  .btnDisabled {
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    border-color: #edf1f7;
  }
}
