<div class="pages" [formGroup]="Form">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <nb-icon icon="people-outline"></nb-icon>
                                <label>Request<span class="p-0-12">/</span>Detail </label>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <button style="float: right;margin: 3px 0px 3px 1rem;" nbButton type="button"
                                    size="medium" status="danger" (click)="btnCancelClick()">
                                    Back
                                </button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>{{request_information_message}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="primary">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <nb-card>
                        <nb-card-body>
                            <div class="body">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="row">
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12"
                                                        style="padding-bottom: 1rem;">
                                                        <project-display-file-image theme="white"
                                                            [image_url_array]="image.main_image.get">
                                                        </project-display-file-image>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="row">
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <project-input inputType="text" label="Supplier Name :"
                                                            [control]="Form.get('suppliername')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <project-input inputType="text" label="Product Category :"
                                                            [control]="Form.get('productcategory')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <project-input inputType="text" label="Catalog Keyword :"
                                                            [control]="Form.get('catalogkeyword')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <project-input inputType="text" label="Supplier Keyword :"
                                                            [control]="Form.get('supplierkeyword')">
                                                        </project-input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="row">
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <project-input inputType="text" label="First Name :"
                                                            [control]="Form.get('firstName')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <project-input inputType="text" label="Last Name :"
                                                            [control]="Form.get('lastName')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <project-input inputType="text" label="Company Name :"
                                                            [control]="Form.get('companyName')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <project-input inputType="text" label="Email :"
                                                            [control]="Form.get('emailAddress')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <project-input inputType="text" label="Telephone Number :"
                                                            [control]="Form.get('phoneNo')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <project-input inputType="text" label="Mobile Phone Number :"
                                                            [control]="Form.get('mobileNo')">
                                                        </project-input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="row">
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <project-textarea rows="3" label="Address :"
                                                            [control]="Form.get('AddressFull')">
                                                        </project-textarea>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <project-input inputType="text" label="Address Number :"
                                                            [control]="Form.get('AddressNo')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <project-input inputType="text" label="Province :"
                                                            [control]="Form.get('province')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <project-input inputType="text" label="Amphoe :"
                                                            [control]="Form.get('amphoe')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <project-input inputType="text" label="Tambon :"
                                                            [control]="Form.get('tambon')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                                <project-input inputType="text" label="Zipcode :"
                                                                    [control]="Form.get('zipcode')">
                                                                </project-input>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                                <project-input inputType="text"
                                                                    label="Latitude Longitude :"
                                                                    [control]="Form.get('latlong')">
                                                                </project-input>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <nb-card>
                        <nb-card-body>
                            <div class="body">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Massages :"
                                                    [control]="Form.get('request_information_message')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Status :"
                                                    [control]="Form.get('request_information_status_id')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Answer :"
                                                    [control]="Form.get('request_information_is_answer')">
                                                </project-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="cover-input">
                                            <label>File :</label>
                                        </div>
                                        <table class="table hover">
                                            <tbody>
                                                <tr *ngFor="let item of arrFile; " (click)="openUrl(item.file_url)">
                                                    <td>
                                                        <div>
                                                            <!-- <nb-icon icon="image-outline"></nb-icon> -->
                                                            <nb-icon icon="{{item.icon}}"></nb-icon>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <a>{{item.file_name}}</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="arrFile.length == 0"
                                                    style="height:300px; background-color: #ffffff;">
                                                    <td colspan="2" style="padding-top: 50px;">
                                                        <img src="assets/images/loading.png" width="300"><br><br>
                                                        <label>No data.</label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>