<div class="pages" [formGroup]="Form">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <nb-icon icon="cube-outline"></nb-icon>
                                <label>Manage Product<span class="p-0-12">/</span>Detail</label>
                            </div>
                            <div class="col-auto">
                                <button nbButton size="medium" status="success" (click)="btnEditeClick()">
                                    Edit
                                </button>
                                <button nbButton size="medium" status="danger" (click)="btnCancelClick()">
                                    Back
                                </button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>{{product_category_name}}</label><label
                                    class="status bg-status-primary">{{arrProductDetail.product_sku}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="warning">
            <nb-card>
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="row">
                                    <div class="col-12">
                                        <project-display-file-image theme="dark"
                                            [image_url_array]="product.main_image.get"></project-display-file-image>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <label style="padding-right: 1rem;">Status :</label>
                                                    <label *ngIf="Form.value.product_public_status_id === 'Active'"
                                                        class="active">{{Form.value.product_public_status_id}}</label>
                                                    <label *ngIf="Form.value.product_public_status_id === 'Inactive'"
                                                        class="inactive">{{Form.value.product_public_status_id}}</label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Product Name :"
                                                    [control]="Form.get('product_name')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Product Category :"
                                                    [control]="Form.get('product_category_name')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Custom Category :"
                                                    [control]="Form.get('category_custom_keyword')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="row">
                                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                        <project-input inputType="text" textAlign="right"
                                                            label="Buy Price (Cost) :" typeStyle="price"
                                                            [nameStyle]="Form.value.product_currency_code"
                                                            [control]="Form.get('product_price')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                                        <project-input inputType="text" label="Currency :"
                                                            [control]="Form.get('product_currency_code')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                                        <project-input inputType="text" label="Initial Stock :"
                                                            [control]="Form.get('initial_stock')">
                                                        </project-input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="row">
                                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                        <project-input inputType="text" label="Product SKU :"
                                                            [control]="Form.get('product_sku')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                                                        <project-input inputType="text" label="Unit :"
                                                            [control]="Form.get('product_unit')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                        <project-input inputType="text" label="Product Barcode :"
                                                            [control]="Form.get('product_barcode')">
                                                        </project-input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="row">
                                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                        <project-input inputType="text" textAlign="right"
                                                            label="Product Width :" [control]="Form.get('width')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                                                        <project-input inputType="text" label="Unit :"
                                                            [control]="Form.get('width_unit')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                        <project-input inputType="text" textAlign="right"
                                                            label="Product Height :" [control]="Form.get('height')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                                                        <project-input inputType="text" label="Unit :"
                                                            [control]="Form.get('height_unit')">
                                                        </project-input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="row">
                                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                        <project-input inputType="text" textAlign="right"
                                                            label="Product Weight :" [control]="Form.get('weight')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                                                        <project-input inputType="text" label="Unit :"
                                                            [control]="Form.get('weight_unit')">
                                                        </project-input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="row">
                                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                        <project-input inputType="text" label="Country :"
                                                            [control]="Form.get('product_country')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                        <project-input inputType="text" label="Channel :"
                                                            [control]="Form.get('product_channel')">
                                                        </project-input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Warehouse Name :"
                                                    [control]="Form.get('warehouse_name')">
                                                </project-input>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="cover-input">
                                            <label>Product Wholesale :</label>
                                        </div>
                                        <table class="table no-hover">
                                            <thead>
                                                <th style="width: 15%;  text-align: center;">
                                                    Qty Minimum
                                                </th>
                                                <th style="width: 20%;  text-align: right;">
                                                    Wholesale Price
                                                <th style="width: 20%;  text-align: right;">
                                                    Retail Price
                                                </th>
                                                <th></th>
                                            </thead>
                                            <tbody>
                                                <ng-container formArrayName="wholesale">
                                                    <tr *ngFor="let item of wholesale.controls; let i = index;">
                                                        <ng-container [formGroupName]="i">
                                                            <td>
                                                                <project-input inputType="text" textAlign="qty"
                                                                    [control]="item.get('qty_minimum')">
                                                                </project-input>
                                                            </td>
                                                            <td>
                                                                <project-input inputType="text" textAlign="price"
                                                                    typeStyle="price"
                                                                    [nameStyle]="Form.value.product_currency_code"
                                                                    [control]="item.get('product_price')">
                                                                </project-input>
                                                            </td>
                                                            <td>
                                                                <project-input inputType="text" textAlign="price"
                                                                    typeStyle="price"
                                                                    [nameStyle]="Form.value.product_currency_code"
                                                                    [control]="item.get('retail_product_price')">
                                                                </project-input>
                                                            </td>
                                                            <td></td>
                                                        </ng-container>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>Image Lists</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-body>
                    <div class="header">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <project-list-file-upload theme="dark"
                                    [image_url_array]="product.product_image_array.get"></project-list-file-upload>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>