<div class="pages">
    <nb-card>
        <nb-card-header>
            <div class="header">
                <div class="row">
                    <div class="col-auto mr-auto">
                        <nb-icon class="icon-header" icon="{{icon}}"></nb-icon>
                        <label style="font-size: 20px">{{title}}</label>
                    </div>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div>
                <div class="row" style="padding-top: 0.5rem; text-align: center;">
                    <div class="col-md-12" style="padding-top: 1rem;">
                        <label style="font-size: 16px;">Are you sure you want to {{txtName}} ?</label>
                    </div>
                </div><br>
                <div class="row" style="text-align: center;">
                    <div class="col-md-12">
                        <button nbButton style="width: 100px" status="gray"
                            (click)="btnCancelClick()">Back</button>&nbsp;&nbsp;
                        <button nbButton style="width: 100px" status="danger" (click)="btnDeleteClick()">Delete</button>
                    </div>
                </div><br>
            </div>
        </nb-card-body>
    </nb-card>
</div>