<div class="pages" [formGroup]="Form">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="cover-header header">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <nb-icon icon="people-outline"></nb-icon>
                                <label>My Saved Lists<span class="p-0-12">/</span>Detail</label>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <button nbButton size="medium" status="danger" (click)="btnCancelClick()">
                                    Back
                                </button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>{{arrDistributor.distributor_name}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="warning">
            <nb-card>
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12"
                                                style="padding-bottom: 1rem;">
                                                <project-display-file-image theme="dark"
                                                    [image_url_array]="image.main_image.get">
                                                </project-display-file-image>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Distributor Name :"
                                                    [control]="Form.get('distributor_name')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Product Category :"
                                                    [control]="Form.get('product_category_name')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Distributor Keyworde :"
                                                    [control]="Form.get('distributor_catalog_keyword')">
                                                </project-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 1rem;">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="First Name :"
                                                    [control]="Form.get('distributor_firstname')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Last Name :"
                                                    [control]="Form.get('distributor_lastname')">
                                                </project-input>
                                            </div>
                                            <div class="col-12">
                                                <project-input inputType="text" label="Email :"
                                                    [control]="Form.get('distributor_email')">
                                                </project-input>
                                            </div>
                                            <div class="col-12">
                                                <project-input inputType="text" label="Telephone Number :"
                                                    [control]="Form.get('distributor_tel')">
                                                </project-input>
                                            </div>
                                            <div class="col-12">
                                                <project-input inputType="text" label="Mobile Phone Number :"
                                                    [control]="Form.get('distributor_mobile')">
                                                </project-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-textarea rows="3" label="Address :"
                                                    [control]="Form.get('distributor_addr_full')">
                                                </project-textarea>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Address Number :"
                                                    [control]="Form.get('distributor_addr_number')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Province :"
                                                    [control]="Form.get('distributor_addr_province')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Amphoe :"
                                                    [control]="Form.get('distributor_addr_amphoe')">
                                                </project-input>
                                            </div>

                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Tambon :"
                                                    [control]="Form.get('distributor_addr_tambon')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="row">
                                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                        <project-input inputType="text" label="Zipcode :"
                                                            [control]="Form.get('distributor_addr_post')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                                        <project-input inputType="text" label="Latitude, Longitude :"
                                                            [control]="Form.get('lat_long')">
                                                        </project-input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card
                *ngIf="!loading && this.arrDistributor.distributor_addr_lat != 0 && arrDistributor.distributor_addr_lng != 0">
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <project-map-detail [let]="this.arrDistributor.distributor_addr_lat"
                                    [long]="arrDistributor.distributor_addr_lng">
                                </project-map-detail>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>