<div class="cover-pages" [formGroup]="dealersForm">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;">
                <nb-card-header>
                    <div class="cover-header header">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <nb-icon icon="grid-outline"></nb-icon>
                                <label>Dealers <span class="p-0-12">/</span> Detail</label>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <button *ngIf="!loading" nbButton style="float: right;margin: 3px 0px 3px 1rem;"
                                    status="success" (click)="btnEditClick()">Edit</button>
                                <button nbButton style="float: right;margin: 3px 0px 3px 1rem;" status="danger"
                                    (click)="btnCancelClick()">Back</button>

                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="margin-bottom: 0.1rem;padding: 0 0.5rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label
                                    style="font-size: 1.2rem;margin: 0.5rem 0 0.5rem 0;">{{arrDeler.dealer_name}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="primary">
            <nb-card>
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <project-display-file-image theme="white"
                                                    [image_url_array]="image.main_image.get">
                                                </project-display-file-image>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <project-input inputType="text" label="Dealer Name :"
                                                    [control]="dealersForm.get('dealer_name')">
                                                </project-input>
                                            </div>
                                            <div class="col-lg-12">
                                                <project-input inputType="text" label="Dealer Keyword :"
                                                    [control]="dealersForm.get('dealer_tag')">
                                                </project-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <project-input inputType="text" label="First Name :"
                                                    [control]="dealersForm.get('dealer_first_name')">
                                                </project-input>
                                            </div>
                                            <div class="col-lg-12">
                                                <project-input inputType="text" label="Last Name :"
                                                    [control]="dealersForm.get('dealer_last_name')">
                                                </project-input>
                                            </div>
                                            <div class="col-lg-12">
                                                <project-input inputType="text" label="Last Name :"
                                                    [control]="dealersForm.get('dealer_company')">
                                                </project-input>
                                            </div>
                                            <div class="col-lg-12">
                                                <project-input inputType="text" label="Email :"
                                                    [control]="dealersForm.get('dealer_email')">
                                                </project-input>
                                            </div>
                                            <div class="col-lg-12">
                                                <project-input inputType="text" label="Telephone Number :"
                                                    [control]="dealersForm.get('dealer_tel')">
                                                </project-input>
                                            </div>
                                            <div class="col-lg-12">
                                                <project-input inputType="text" label="Mobile Phone Number :"
                                                    [control]="dealersForm.get('dealer_mobile')">
                                                </project-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <project-textarea rows="3" label="Address :"
                                                    [control]="dealersForm.get('dealer_addr_full')">
                                                </project-textarea>
                                            </div>
                                            <div class="col-lg-12">
                                                <project-input inputType="text" label="Number :"
                                                    [control]="dealersForm.get('dealer_addr_number')">
                                                </project-input>
                                            </div>
                                            <div class="col-lg-12">
                                                <project-input inputType="text" label="Province :"
                                                    [control]="dealersForm.get('dealer_addr_province')">
                                                </project-input>
                                            </div>
                                            <div class="col-lg-12">
                                                <project-input inputType="text" label="Amphoe :"
                                                    [control]="dealersForm.get('dealer_addr_amphoe')">
                                                </project-input>
                                            </div>
                                            <div class="col-lg-12">
                                                <project-input inputType="text" label="Tambon :"
                                                    [control]="dealersForm.get('dealer_addr_tambon')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <project-input inputType="text" label="Zipcode :"
                                                    [control]="dealersForm.get('dealer_addr_post')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <project-input inputType="text" label="Latitude Longitude :"
                                                    [control]="dealersForm.get('lat_long')">
                                                </project-input>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>