@import "../../../../../../libs/theme/src/lib/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

nb-icon {
  &.icon-success {
    color: #28a745;
    font-size: 1.5rem;
  }
  &.icon-close {
    color: #dee2e6;
    font-size: 1.5rem;
  }
}

.cover-product-unit {
  margin: .5rem 0;
  text-align: left;
}

@include nb-install-component() {
  .show-grid {
    .row {
      margin: -0.5rem;
    }

    div[class^="col-"] {
      padding: 0.5rem;
      box-sizing: border-box;

      div {
        padding: 0.5rem 0.25rem;
        border-radius: 0.25rem;
      }
    }
  }

  .cardbody {
    max-height: 500px;
  }

  thead {
    font-size: 15px;
  }
  tbody {
    font-size: 15px;
  }
}

.summaryHeader{
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;

}

.summaryRow{
  font-size: 18px;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-align: right;
}
