<div class="pages">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-body style="min-height: calc(100vh - 300px);">
                    <div class="header">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="cover-form icon">
                                            <nb-icon style="right: 0px;" icon="search-outline">
                                            </nb-icon>
                                            <nb-icon *ngIf="service.searchTerm" (click)="btnRefresh()"
                                                style="float: right;left: 0; cursor: pointer;" icon="close-outline">
                                            </nb-icon>
                                            <input libOnlyCharacterDefault nbInput status="primary" type="text" nbInput
                                                fullWidth status="basic" placeholder="Search for name"
                                                [(ngModel)]="service.searchTerm" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div *ngIf="!isReload">
                        <table class="table hover" style="width: 100%;"
                            *ngIf="products$ | async as Products ; else loading">
                            <colgroup>
                                <col />
                                <col />
                                <col />
                                <col />
                                <col class="Available" />
                                <col class="OnHand" />
                                <col class="Outgoing" />
                                <!-- <col class="Incoming" /> -->
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th></th>
                                    <th style="text-align: left; min-width: 200px;">
                                        Item
                                    </th>
                                    <th scope="col" style="text-align: left; min-width: 200px;">
                                        Warehouse Name
                                    </th>
                                    <th style="text-align: center; min-width: 120px;">
                                        Available
                                    </th>
                                    <th style="text-align: center; min-width: 120px;">
                                        On Hand
                                    </th>
                                    <th style="text-align: center; min-width: 120px;">
                                        Outgoing
                                    </th>
                                    <!-- <th style="text-align: center; min-width: 120px;">
                                                        Incoming
                                                    </th> -->
                                    <th class="left">
                                        Status
                                    </th>
                                    <th class="left">
                                        Created
                                    </th>
                                    <th class="left">
                                        Updated
                                    </th>
                                    <th></th>
                                    <th style="text-align: right; cursor: pointer;" (click)="btnReload()">
                                        <nb-icon icon="refresh-outline"></nb-icon>
                                    </th>
                                </tr>
                            </thead>

                            <tbody style="cursor: pointer;">
                                <tr *ngFor="let products of Products" (click)="btnRowClick(products)">
                                    <td style="text-align: center">
                                        <div style="padding-bottom: 1rem; padding-top: 1rem">
                                            <div class="cover-background-image">
                                                <div class="background-image padding-width-100px-height-100px"
                                                    [ngClass]="{'active' : products.product_image_url === '-' || products.product_image_url=== ''}"
                                                    [ngStyle]="{'background-image': 'url('+products.product_image_url+')'}">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="padding-top: 1rem;"
                                            *ngIf="products.product_row_key.supplier_id === 0">
                                            <nb-icon style="font-size: 2rem;" icon="inbox-outline">
                                            </nb-icon>
                                        </div>
                                    </td>
                                    <td style="text-align: left;">
                                        <div style="padding-top: 1rem; text-align: left;">
                                            <ngb-highlight [result]="products.product_title"
                                                [term]="service.searchTerm">
                                            </ngb-highlight>
                                        </div>
                                        <div style="padding-top: 1rem;">
                                            <ngb-highlight class="sku" [result]="products.product_sku"
                                                [term]="service.searchTerm">
                                            </ngb-highlight>
                                        </div>
                                    </td>
                                    <td style="text-align: left;">
                                        <div *ngFor="let warehousedata of products.product_row_display_array">
                                            <div *ngFor="let warehouse of warehousedata.warehouse_data">
                                                <div class="body">
                                                    <ngb-highlight [result]="warehouse.warehouse_name"
                                                        [term]="service.searchTerm">
                                                    </ngb-highlight>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cover qty">
                                        <div *ngFor="let item of products.product_row_display_array">
                                            <div *ngIf="products.product_row_display_array.length > 1" class="body">
                                                <ngb-highlight [result]="item.checkin_data.onhand | number  "
                                                    [term]="service.searchTerm">
                                                </ngb-highlight><br>
                                            </div>
                                            <div *ngIf="products.product_row_display_array.length === 1" class="body">
                                                <ngb-highlight [result]="item.checkin_data.onhand | number  "
                                                    [term]="service.searchTerm">
                                                </ngb-highlight>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cover qty">
                                        <div *ngFor="let item of products.product_row_display_array">
                                            <div *ngIf="products.product_row_display_array.length > 1" class="body">
                                                <ngb-highlight
                                                    [result]="item.checkin_data.onhand + item.checkin_data.onhand_manual | number "
                                                    [term]="service.searchTerm">
                                                </ngb-highlight><br>
                                            </div>

                                            <div *ngIf="products.product_row_display_array.length === 1" class="body">
                                                <ngb-highlight
                                                    [result]="item.checkin_data.onhand + item.checkin_data.onhand_manual | number "
                                                    [term]="service.searchTerm">
                                                </ngb-highlight>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cover qty">
                                        <div *ngFor="let item of products.product_row_display_array">
                                            <div *ngIf="products.product_row_display_array.length > 1"
                                                style="padding-bottom: 1rem; padding-top: 1rem;  border-bottom: 1px solid #ced4da;">
                                                <ngb-highlight [result]="item.checkin_data.outgoing "
                                                    [term]="service.searchTerm">
                                                </ngb-highlight><br>
                                            </div>

                                            <div *ngIf="products.product_row_display_array.length === 1" class="body">
                                                <ngb-highlight [result]="item.checkin_data.outgoing "
                                                    [term]="service.searchTerm">
                                                </ngb-highlight>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- <td class="cover qty">
                                                        <div *ngFor="let item of products.product_row_display_array">
                                                            <div *ngIf="products.product_row_display_array.length > 1"
                                                                style="padding-bottom: 1rem; padding-top: 1rem;  border-bottom: 1px solid #ced4da;">
                                                                <ngb-highlight [result]="item.checkin_data.incoming "
                                                                    [term]="service.searchTerm">
                                                                </ngb-highlight><br>
                                                            </div>

                                                            <div *ngIf="products.product_row_display_array.length === 1"
                                                                class="body">
                                                                <ngb-highlight [result]="item.checkin_data.incoming "
                                                                    [term]="service.searchTerm">
                                                                </ngb-highlight>
                                                            </div>
                                                        </div>
                                                    </td> -->
                                    <td tyle="text-align: left;">
                                        <div *ngFor="let item of products.product_row_display_array">
                                            <div *ngIf="products.product_row_display_array.length > 1" class="body">
                                                <ngb-highlight
                                                    [ngClass]="item.product_is_active  == 1 ? 'active' : 'inactive' "
                                                    [result]="item.product_is_active  == 1 ? 'Active' : 'Inactive'  "
                                                    [term]="service.searchTerm">
                                                </ngb-highlight>
                                            </div>

                                            <div *ngIf="products.product_row_display_array.length === 1" class="body">
                                                <ngb-highlight
                                                    [ngClass]="item.product_is_active  == 1 ? 'active' : 'inactive' "
                                                    [result]="item.product_is_active  == 1 ? 'Active' : 'Inactive'  "
                                                    [term]="service.searchTerm">
                                                </ngb-highlight>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="text-align: left;">
                                        <div *ngFor="let item of products.product_row_display_array">
                                            <div *ngIf="products.product_row_display_array.length > 1" class="body">
                                                <ngb-highlight
                                                    [result]="item.create_time  * 1000 | date : 'dd/MM/yyyy' "
                                                    [term]="service.searchTerm">
                                                </ngb-highlight><br>
                                            </div>

                                            <div *ngIf="products.product_row_display_array.length === 1" class="body">
                                                <ngb-highlight
                                                    [result]="item.create_time  * 1000 | date : 'dd/MM/yyyy' "
                                                    [term]="service.searchTerm">
                                                </ngb-highlight>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="text-align: left;">
                                        <div *ngFor="let item of products.product_row_display_array">
                                            <div *ngIf="products.product_row_display_array.length > 1" class="body">
                                                <ngb-highlight
                                                    [result]="(item.update_time === 0) ? (item.create_time * 1000 | date : 'dd/MM/yyyy') : (item.update_time * 1000 | date : 'dd/MM/yyyy') "
                                                    [term]="service.searchTerm">
                                                </ngb-highlight><br>
                                            </div>

                                            <div *ngIf="products.product_row_display_array.length === 1" class="body">
                                                <ngb-highlight
                                                    [result]="(item.update_time === 0) ? (item.create_time * 1000 | date : 'dd/MM/yyyy')  : (item.update_time * 1000 | date : 'dd/MM/yyyy') "
                                                    [term]="service.searchTerm">
                                                </ngb-highlight>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="text-align: right;">
                                        <div style="padding-bottom: 1rem; padding-top: 1rem;"
                                            (click)="btnDialogProductGroup(products); $event.stopPropagation()">
                                            <nb-icon icon="list-outline"></nb-icon>
                                        </div>
                                    </td>
                                    <td style="text-align: right;">
                                        <div *ngIf="products.product_is_favorite == 0"
                                            (click)="addFarvorite(products.product_id, products); $event.stopPropagation()"
                                            style="padding-bottom: 1rem; padding-top: 1rem;">
                                            <nb-icon icon="heart-outline"></nb-icon>
                                        </div>
                                        <div *ngIf="products.product_is_favorite == 1"
                                            (click)="addFarvorite(products.product_id, products); $event.stopPropagation()"
                                            style="padding-bottom: 1rem; padding-top: 1rem; color: red">
                                            <nb-icon style="color: red" icon="heart-outline"></nb-icon>
                                        </div>
                                    </td>
                                </tr>

                                <tr *ngIf="Products.length == 0" style="height:300px; background-color: white;">
                                    <td colspan="11" style="padding-top: 50px; text-align: center;">
                                        <img src="assets/images/loading.png" width="300"><br><br>
                                        <label>No data.</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-template #loading>
                            <table class="table hover" style="width: 100%;">
                                <colgroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col class="Available" />
                                    <col class="OnHand" />
                                    <col class="Outgoing" />
                                    <!-- <col class="Incoming" /> -->
                                    <col />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Images</th>
                                        <th></th>
                                        <th style="text-align: left; min-width: 200px;">
                                            Item
                                        </th>
                                        <th scope="col" style="text-align: left; min-width: 200px;">
                                            Warehouse Name
                                        </th>
                                        <th style="text-align: center; min-width: 120px;">
                                            Available
                                        </th>
                                        <th style="text-align: center; min-width: 120px;">
                                            On Hand
                                        </th>
                                        <th style="text-align: center; min-width: 120px;">
                                            Outgoing
                                        </th>
                                        <!-- <th style="text-align: center; min-width: 120px;">
                                                            Incoming
                                                        </th> -->
                                        <th class="left">
                                            Status
                                        </th>
                                        <th class="left">
                                            Created
                                        </th>
                                        <th class="left">
                                            Updated
                                        </th>
                                        <th style="text-align: right; cursor: pointer;" (click)="btnRefresh()">
                                            <nb-icon icon="refresh-outline"></nb-icon>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height:300px; background-color: white;">
                                        <td colspan="11" style="padding-top: 50px;">
                                            <div style="height: 100px;background-color: white;" [nbSpinner]="loading"
                                                nbSpinnerStatus="primary">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                    </div>
                    <div class="cover-table" *ngIf="isReload">
                        <table class="table hover" style="width: 100%;">
                            <colgroup>
                                <col />
                                <col />
                                <col />
                                <col />
                                <col class="Available" />
                                <col class="OnHand" />
                                <col class="Outgoing" />
                                <!-- <col class="Incoming" /> -->
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th></th>
                                    <th style="text-align: left; min-width: 200px;">
                                        Item
                                    </th>
                                    <th scope="col" style="text-align: left; min-width: 200px;">
                                        Warehouse Name
                                    </th>
                                    <th style="text-align: center; min-width: 120px;">
                                        Available
                                    </th>
                                    <th style="text-align: center; min-width: 120px;">
                                        On Hand
                                    </th>
                                    <th style="text-align: center; min-width: 120px;">
                                        Outgoing
                                    </th>
                                    <!-- <th style="text-align: center; min-width: 120px;">
                                                        Incoming
                                                    </th> -->
                                    <th class="left">
                                        Status
                                    </th>
                                    <th class="left">
                                        Created
                                    </th>
                                    <th class="left">
                                        Updated
                                    </th>
                                    <th style="text-align: right; cursor: pointer;" (click)="btnRefresh()">
                                        <nb-icon icon="refresh-outline"></nb-icon>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height:300px; background-color: white;">
                                    <td colspan="11" style="padding-top: 50px;">
                                        <div style="height: 100px;background-color: white;" [nbSpinner]="isReload"
                                            nbSpinnerStatus="primary">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </nb-card-body>
                <nb-card-footer>
                    <div *ngIf="!isReload && !loading" class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page"
                            [pageSize]="service.pageSize">
                        </ngb-pagination>

                        <select class="custom-select" style="width: auto" name="pageSize"
                            [(ngModel)]="service.pageSize">
                            <option [ngValue]="10">10 items per page</option>
                            <option [ngValue]="20">20 items per page</option>
                            <option [ngValue]="50">50 items per page</option>
                            <option [ngValue]="100">100 items per page</option>
                        </select>
                    </div>
                </nb-card-footer>
            </nb-card>
        </div>
    </div>
</div>