<div class="pages">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <nb-icon icon="settings-outline"></nb-icon>
                        <label>File Manager</label>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-body style="padding: 1rem; min-height: calc(100vh - 190px);">
                    <div class="header">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="cover-select">
                                            <label>Folder Name</label><br>
                                            <select class="custom-select" style="width: 100%;color: black" id="fTypeId" [(ngModel)]="strStatus"
                                                (selectedChange)="typeID($event)">
                                                <option value="">--Select--</option>
                                                <option value="100">Image</option>
                                                <option value="101">Request File</option>
                                                <option value="110">Category</option>
                                                <option value="120">Product</option>>
                                                <option value="160">Messages</option>
                                                <option value="190">Uncategory</option>
                                                <option value="410">Chat File</option>
                                                <option value="500">Notification File</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12" >
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="DashboardContainer"></div>
                                </div>
                                <div class="col-lg-6">
                                    <nb-card size="large" [nbSpinner]="loading" nbSpinnerStatus="warning">
                                        <nb-card-header>
                                            <div class="row">
                                                <div class="col">
                                                    <a style="font-size: 16px; cursor: pointer;" (click)="getS3file()">Folder Name </a>
                                                    <a style="font-size: 16px; cursor: pointer; text-transform: capitalize;" (click)="folder1(name1)" *ngIf="name1">
                                                        <span style="margin: 0 0.5rem;">></span> 
                                                        {{name1}} 
                                                    </a>
                                                    <a style="font-size: 16px; cursor: pointer; text-transform: capitalize;" *ngIf="name2"> 
                                                        <span style="margin: 0 0.5rem;">></span> 
                                                        {{name2}} 
                                                    </a>
                                                </div>
                                                <div class="col-auto mr-auto">
                                          
                                                </div>
                                            </div>
                                        </nb-card-header>
                                        <nb-list *ngIf="arrFileList.length > 0">
                                            <nb-list-item *ngFor="let f of arrFileList"
                                            [ngClass]="{'checkData':f.folder_name === 'customsupplier' || f.folder_name === 'distributor'|| f.folder_name === 'dealer'|| f.folder_name === 'uppy-php-example' || f.folder_name === 'uppy'}">
                                                <div 
                                                    (click)="folder1(f.folder_name)" style="cursor: pointer;">
                                                    <!-- <img src="assets/images/folders.png" class="imgstatus"> -->
                                                    <nb-icon icon="folder-outline"></nb-icon>
                                                    <a style="font-size: 13px; padding-left: 0.5rem;">{{f.folder_name}}</a>
                                                </div>
                                            </nb-list-item>
                                        </nb-list>

                                        <nb-list *ngIf="arrFileListFile.length > 0">
                                            <nb-list-item *ngFor="let f1 of arrFileListFile">
                                                <div (click)="folder2(f1.folder_name, f1.folder_file_array)" style="cursor: pointer;">
                                                    <!-- <img src="assets/images/folders.png" class="imgstatus"> -->
                                                    <nb-icon icon="folder-outline"></nb-icon>
                                                    <a style="font-size: 13px; padding-left: 0.5rem;">{{f1.folder_name}}</a>
                                                </div>
                                            </nb-list-item>
                                        </nb-list>

                                        <nb-list *ngIf="arrFileListFile1.length > 0">
                                            <nb-list-item *ngFor="let f of arrFileListFile1" (click)="openUrl(f.file_url)">
                                                <div style="cursor: pointer;">
                                                    <!-- <img src="assets/images/imagefile.png" class="imgstatus"> -->
                                                    <nb-icon icon="image-outline"></nb-icon>
                                                    <label style="font-size: 13px; padding-left: 0.5rem;" title="{{f.file_name}}">{{f.file_name}}</label>
                                                </div>
                                            </nb-list-item>
                                        </nb-list>
                                    </nb-card>

                                    <ng-template #tabs>
                                 
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <nb-list>
                                                    <nb-list-item class="custom-file-upload" (click)="btnFolder()">
                                                        <!-- <img src="assets/images/folder-add.png" class="imgstatus"> -->
                                                        <nb-icon icon="ffolder-add-outline"></nb-icon>
                                                        <a>Folder</a>
                                                    </nb-list-item>
                                                    <nb-list-item for="file-upload" class="custom-file-upload">
                                                        <label for="file-upload" class="custom-file-upload">
                                                            <!-- <img src="assets/images/filder-upload.png" class="imgstatus"> -->
                                                            <nb-icon icon="folder-add-outline"></nb-icon>
                                                            <a>File Upload</a>
                                                        </label>
                                                        <input libOnlyCharacterDefault status="primary" id="file-upload" type="file" (change)="preview($event)" />
                                                    </nb-list-item>
                                                </nb-list>
                                            </div>
                                        </div>
                                    </ng-template>




                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" >
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>