<div class="pages">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
      <div class="body">
        <div class="row">

          <!-- <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
              <div class="col-auto mr-auto">
                <div class="display_table height_48px">
                  <div class="display_table_cell">
                    <label style="cursor: pointer;">
                      <a (click)="btnReload()">List Name </a>
                      <span *ngIf="strsupCate && strsupCate != '' && strsupCate != undefined" class="p-0-12">/</span>
                      {{(strsupCate && strsupCate != '' && strsupCate != undefined)?strsupCate:''}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-3 col-md-3 col-lg-3 col-xl-3" style="padding-bottom: 1rem">
            <div class="row">
              <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row headerCate">
                  <div class="col-sm-12" style="color: black; font-weight: bold; text-align: left;">
                    Product Category Name
                    <nb-icon (click)="btnReload()" icon="refresh-outline"
                      style="float: right;margin-right: 1rem; cursor: pointer;">
                    </nb-icon>
                  </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="cover-form icon" style="padding-top: 0.5rem;">
                    <nb-icon style="right: 0px;" icon="search-outline"></nb-icon>
                    <nb-icon *ngIf="strCategoryName" (click)="refreshCate()"
                      style="float: right;left: 0; cursor: pointer;" icon="close-outline"></nb-icon>
                    <input libOnlyCharacterDefault type="text" nbInput fullWidth status="primary"
                      placeholder="Search for category" [(ngModel)]="strCategoryName"
                      [ngModelOptions]="{standalone: true}" (keyup)="filterCategoryName($event.target.value)" />
                  </div>
                </div>
                <div *ngIf="!loading" class="row rowCate" (click)="btnReload()" [ngClass]="{'active': !id}">
                  <div class="col">
                    <div class="cover-background-image">
                      <div class="background-image padding-width-100px-height-100px"
                        [ngClass]="{'active' : 'https://cdn3.iconfinder.com/data/icons/procurement-process-flat/64/search-vender-verify-check-supplier-128.png' === '-' || 'https://cdn3.iconfinder.com/data/icons/procurement-process-flat/64/search-vender-verify-check-supplier-128.png' === ''}"
                        [ngStyle]="{'background-image': 'url('+'https://cdn3.iconfinder.com/data/icons/procurement-process-flat/64/search-vender-verify-check-supplier-128.png'+')'}">
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    View All
                    <nb-icon *ngIf="!id" style="float: right; cursor: pointer;" icon="arrow-ios-forward-outline">
                    </nb-icon>
                  </div>
                </div>
                <table class="table hover">
                  <tbody>
                    <tr *ngFor="let c  of arrCategory" [ngClass]="{'active': c.product_category_id==id}"
                      (click)="subCate(c.product_category_child_array, c.product_category_id, c.product_category_name)">
                      <td style="width: 100px;">
                        <div class="cover-background-image" style="width: 100px; height: 100px;">
                          <div class="background-image padding-width-100px-height-100px"
                            [ngClass]="{'active' : c.product_category_image_url === '-' || c.product_category_image_url === ''}"
                            [ngStyle]="{'background-image': 'url('+c.product_category_image_url+')'}">
                          </div>
                        </div>
                      </td>
                      <td class="left">
                        {{c.product_category_name}}
                        <nb-icon *ngIf="c.product_category_id==id" style="float: right; cursor: pointer;"
                          icon="arrow-ios-forward-outline">
                        </nb-icon>
                      </td>
                    </tr>
                    <tr *ngIf="arrCategory.length == 0 && !loading" style="height:300px; background-color: #ffffff;">
                      <td colspan="2" style="padding-top: 50px;">
                        <img src="assets/images/loading.png" width="300"><br><br>
                        <label>No data.</label>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="loading" style="height: 100px;background-color: #ffffff;" [nbSpinner]="loading"
                  nbSpinnerStatus="primary">
                </div>
              </div>
            </div>
          </div> -->

          <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <project-comp-category-browse [status]="'Distributor'" [map]="'View All'" (categoryID)="categoryEvent($event)">
            </project-comp-category-browse>
          </div>

          <div class="col-12 col-9 col-md-9 col-lg-9 col-xl-9" style="padding-bottom: 1rem">
            <div class="row">
              <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row"
                  style="border-bottom: 2px solid #dee2e6; border-top: 1px solid #dee2e6; padding-top: 0.7rem; padding-bottom: 0.8rem; font-size: 14px; margin: -0.10px;">
                  <div class="col-sm-12" style="color: black; font-weight: bold; text-align: left;">
                    Address : {{address}}
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                <div class="cover-form icon" style="padding-top: 1rem;">
                  <nb-icon style="right: 0px;" icon="search-outline"></nb-icon>
                  <nb-icon *ngIf="strMap" (click)="btnRefreshMap()" style="float: right;left: 0; cursor: pointer;"
                    icon="close-outline"></nb-icon>
                  <input libOnlyCharacterDefault nbInput status="primary" nbInput fullWidth status="primary" type="text"
                    class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Location"
                    autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [(ngModel)]="strMap">
                </div>
              </div>
              <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading1" nbSpinnerStatus="primary">
                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                  <agm-marker *ngFor="let m of arrMySupplier; " [latitude]="m.supplier_addr_location_lat"
                    [longitude]="m.supplier_addr_location_lng" [iconUrl]="m.image_url" [title]="m.supplier_name"
                    [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
                    <agm-info-window [disableAutoPan]="false" #infoWindow>
                      <a (click)="btnRowMab(m.supplier_id)"
                        style="color: #111;font-weight: bold;font-size: 18px;cursor: pointer;">
                        {{m.supplier_name}}
                      </a>
                    </agm-info-window>
                  </agm-marker>
                </agm-map>
                <!-- <div style="height: 100px;background-color: #ffffff;" [nbSpinner]="loading" nbSpinnerStatus="danger">
                </div> -->
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>