<!-- Confrim -->
<div class="pages" [formGroup]="From" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <nb-icon icon="pie-chart-outline"></nb-icon>
                        <label style="font-size: 18px; font-weight: bold">Confirm Payment</label>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12">
                                <label> Status :</label>
                                <nb-select placeholder="-------------- Choose ---------------"
                                    formControlName="confirm_id" fullWidth outline status="primary"
                                    (selectedChange)="changeConfirm($event)">
                                    <nb-option [value]=1>Fully Paid</nb-option>
                                    <nb-option [value]=2>Partailly Paid</nb-option>
                                </nb-select>
                                <div *ngIf="submitted && !!f.confirm_id.errors" class="invalid-feedback">
                                    <div style="text-align: left" *ngIf="!!f.confirm_id.errors.required">
                                        Status is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <project-input libOnly="libOnlyCharacternumber" inputType="text" mask="separator.0"
                                    thousandSeparator="," label="Balance :" requiredName="Balance"
                                    [control]="From.get('confirm_balance')"
                                    (keyup)="keyValue($event.target.value, From.value.confirm_balance)">
                                </project-input>
                            </div>
                            <div class="col-12">
                                <project-input inputType="text" label="Reference :" requiredName="Reference"
                                    [control]="From.get('confirm_reference')">
                                </project-input>
                            </div>
                            <div class="col-12">
                                <project-input inputType="text" label="Messages :" requiredName="Messages"
                                    [control]="From.get('confirm_message')">
                                </project-input>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button nbButton style="width: 100px" status="danger"
                                (click)="btnCancelClick()">Cancel</button>
                            <button [nbSpinner]="isSaveLodding" nbSpinnerSize="tiny" nbSpinnerStatus="success"
                                [disabled]="From.invalid" nbButton style="width: 100px; margin-left: 0.7rem;"
                                status="success" (click)="btnComfrimPaidClick()">OK</button>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>