agm-map {
  height: 300px;
}

.icon-map {
  top: -220px;
  /* right: -200px; */
  font-size: 16px;
  cursor: pointer;
  position: relative;
  /* left: -2px; */
  right: 10px;
  width: 100%;
  text-align: right;
}
