<div class="pages" [formGroup]="dealersFrom">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;">
                <nb-card-header>
                    <div class="cover-header header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <nb-icon icon="grid-outline"></nb-icon>
                                <label *ngIf="RowID == 'new'">Dealers <span class="p-0-12">/</span>New
                                    Dealer</label>
                                <label *ngIf="RowID != 'new'">Dealers <span class="p-0-12">/</span> Update</label>
                            </div>
                            <div class="col-auto">
                                <button *ngIf="RowID == 'new'" style="float: right;margin: 3px 0px 3px 1rem;"
                                [nbSpinner]="image.update" nbSpinnerStatus="success" nbButton  size="medium" status="success" (click)="btnSaveClick()">Save</button>
                                <button *ngIf="RowID != 'new'" style="float: right;margin: 3px 0px 3px 1rem;"
                                [nbSpinner]="image.update" nbSpinnerStatus="success" nbButton  size="medium" status="success" (click)="btnSaveClick()">Update</button>
                                <button *ngIf="RowID == 'new'" nbButton style="float: right;margin: 3px 0px 3px 1rem;"
                                    status="danger" (click)="btnCancelClick()">Cancel</button>
                                <button *ngIf="RowID != 'new'" nbButton style="float: right;margin: 3px 0px 3px 1rem;"
                                    status="danger" (click)="btnBackClick()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>

        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="primary">
            <nb-card>
                <nb-card-body style="padding-bottom: 2rem;">
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                        <project-file-image [image_url_array]="image.main_image.get"></project-file-image>
                                        <div style="padding-bottom: 1rem;"></div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="cover-input">
                                                    <label>Dealer Name</label>
                                                    <input nbInput status="primary" type="text" nbInput fullWidth
                                                        formControlName="dealersName" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.dealersName.errors }" />
                                                    <div *ngIf="submitted && !!f.dealersName.errors">
                                                        <div class="required" *ngIf="!!f.dealersName.errors.required">
                                                            Dealer Name is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="cover-input">
                                                    <label>Dealer Keyword</label>
                                                    <input nbInput status="primary" type="text" nbInput fullWidth
                                                        formControlName="productcategory" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.productcategory.errors }" />
                                                    <div *ngIf="submitted && !!f.productcategory.errors">
                                                        <div class="required"
                                                            *ngIf="!!f.productcategory.errors.required">
                                                            Dealer Keyword is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="cover-create-topic">
                                                    <label>
                                                        Address Information
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="cover-input">
                                                    <label>First Name</label>
                                                    <input libOnlyCharacter type="text" nbInput status="primary"
                                                        fullWidth formControlName="firstName" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                                    <div *ngIf="submitted && !!f.firstName.errors">
                                                        <div class="required" *ngIf="!!f.firstName.errors.required">
                                                            First Name is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="cover-input">
                                                    <label>Last Name</label>
                                                    <input libOnlyCharacter type="text" nbInput status="primary"
                                                        fullWidth formControlName="lastName" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                                    <div *ngIf="submitted && !!f.lastName.errors">
                                                        <div class="required" *ngIf="!!f.lastName.errors.required">
                                                            Last Name is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="cover-input">
                                                    <label>Company Name</label>
                                                    <input nbInput status="primary" type="text" nbInput status="primary"
                                                        fullWidth formControlName="companyName" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" />
                                                    <div *ngIf="submitted && !!f.companyName.errors">
                                                        <div class="required" *ngIf="!!f.companyName.errors.required">
                                                            Company Name is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="cover-input">
                                                    <label>Email</label>
                                                    <input nbInput status="primary" type="text" nbInput status="primary"
                                                        fullWidth formControlName="emailAddress" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" />
                                                    <div *ngIf="submitted && !!f.emailAddress.errors">
                                                        <div class="required" *ngIf="!!f.emailAddress.errors.required">
                                                            Email is required
                                                        </div>
                                                        <div class="required" *ngIf="!!f.emailAddress.errors.email">
                                                            Email must be a valid email
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="cover-phone-number">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="cover-input">
                                                                <label>Telephone Number</label>
                                                                <input libOnlyCharacterDefault nbInput fullWidth
                                                                    type="text" status="primary"
                                                                    libOnlyCharacterphonnumber
                                                                    formControlName="telephoneNumber"
                                                                    (keyup)="onInput(19,19,$event,phone.tel)"
                                                                    (keyup.enter)="onInArrayPhone(9,19,$event,phone.tel)"
                                                                    [(ngModel)]="phone.tel.input"
                                                                    [ngClass]="{'is-invalid': submitted && phone.tel.number === ''}" />
                                                                <div class="invalid-feedback"
                                                                    [ngClass]="{'display-block': submitted && phone.tel.number === ''}">
                                                                    <div class="required">
                                                                        Telephone Number is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <span class="phone"
                                                                *ngFor="let item of phone.tel.number_array ; let i = index">
                                                                {{item}}<nb-icon
                                                                    (click)="removePhoneNumberIndex(i,phone.tel)"
                                                                    icon="close-outline"></nb-icon>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="cover-phone-number">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="cover-input">
                                                                <label>Mobile Phone Number</label>
                                                                <input libOnlyCharacterDefault nbInput fullWidth
                                                                    type="text" status="primary" mask='000-000-0000'
                                                                    placeholder="XXX-XXX-XXXX"
                                                                    (keyup)="inArrayPhone(12,12,$event,phone.mobile)"
                                                                    (keyup.enter)="inArrayPhone(12,12,$event,phone.mobile)"
                                                                    [ngClass]="{'is-invalid': submitted && phone.mobile.number === ''}" />
                                                                <div class="invalid-feedback"
                                                                    [ngClass]="{'display-block': submitted && phone.mobile.number === ''}">
                                                                    <div class="required">
                                                                        Mobile Phone Number is required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <span class="phone"
                                                                *ngFor="let item of phone.mobile.number_array ; let i = index">
                                                                {{item}}<nb-icon
                                                                    (click)="removePhoneNumberIndex(i,phone.mobile)"
                                                                    icon="close-outline"></nb-icon>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="cover-input right">
                                                    <button nbButton status="primary" (click)="btnDialogMab()">
                                                        <nb-icon icon="map-outline"></nb-icon>
                                                        Search by location
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="cover-input">
                                                    <label>Address</label>
                                                    <textarea rows="3" type="text" status="primary" nbInput fullWidth
                                                        formControlName="addressFull" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.addressFull.errors }"></textarea>
                                                    <div *ngIf="submitted && !!f.addressFull.errors">
                                                        <div class="required" *ngIf="!!f.addressFull.errors.required">
                                                            Address is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="cover-input">
                                                    <label> Address Number</label>
                                                    <input nbInput status="primary" type="text" nbInput status="primary"
                                                        fullWidth formControlName="addressNo" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.addressNo.errors }" />
                                                    <div *ngIf="submitted && !!f.addressNo.errors">
                                                        <div class="required" *ngIf="!!f.addressNo.errors.required">
                                                            Address Number is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="cover-input">
                                                    <label>Province</label>
                                                    <ngx-select [allowClear]="true"
                                                        [ngClass]="{ 'is-invalid': submitted && f.province.errors }"
                                                        [items]="arrProvince" optionValueField="location_name"
                                                        optionTextField="location_name" formControlName="province"
                                                        placeholder="-------------- Choose ---------------"
                                                        (select)="changeProvince($event)">
                                                    </ngx-select>
                                                    <div *ngIf="submitted && !!f.province.errors">
                                                        <div class="required" *ngIf="!!f.province.errors.required">
                                                            Province is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="cover-input">
                                                    <label>Amphoe</label>
                                                    <ngx-select [allowClear]="true"
                                                        [ngClass]="{ 'is-invalid': submitted && f.amphoe.errors }"
                                                        [items]="arrAmphoe" optionValueField="location_name"
                                                        optionTextField="location_name" formControlName="amphoe"
                                                        placeholder="-------------- Choose ---------------"
                                                        (select)="changeAmphoe($event)">
                                                    </ngx-select>
                                                    <div *ngIf="submitted && !!f.amphoe.errors">
                                                        <div class="required" *ngIf="!!f.amphoe.errors.required">
                                                            Amphoe is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="cover-input">
                                                    <label>Tambon</label>
                                                    <ngx-select [allowClear]="true"
                                                        [ngClass]="{ 'is-invalid': submitted && f.tambon.errors }"
                                                        [items]="arrTambon" optionValueField="location_name"
                                                        optionTextField="location_name" formControlName="tambon"
                                                        placeholder="-------------- Choose ---------------"
                                                        (select)="changeTambon($event)">
                                                    </ngx-select>
                                                    <div *ngIf="submitted && !!f.tambon.errors">
                                                        <div class="required" *ngIf="!!f.tambon.errors.required">
                                                            Tambon is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="cover-input" style="text-align: left;">
                                                    <label>Zipcode</label>
                                                    <input type="text" mask='00000' placeholder="XXXXX" nbInput
                                                        fullWidth status="primary" formControlName="zipcode"
                                                        class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" />
                                                    <div *ngIf="submitted && !!f.zipcode.errors"
                                                        class="invalid-feedback">
                                                        <div class="required" style="text-align: left"
                                                            *ngIf="!!f.zipcode.errors.required">
                                                            Zipcode is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="cover-input" style="text-align: left;">
                                                    <label> Latitude Longitude</label>
                                                    <input style="color: black;" nbInput status="primary" type="text"
                                                        fullWidth formControlName="latitudeAndLongitude" />
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>