<div class="pages" [formGroup]="Form">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <nb-icon icon="pie-chart-outline"></nb-icon>
                                <label>My Bills<span class="p-0-12">/</span>Detail</label>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <!-- <button *ngIf="!loading" style="float: right;margin: 3px 0px 3px 1rem;" nbButton size="medium"
                                    status="info" (click)="confirmPayment()">
                                    Payment
                                </button> -->
                                <button style="float: right;margin: 3px 0px 3px 1rem;" nbButton size="medium"
                                    status="danger" (click)="btnCancelClick()">
                                    Back
                                </button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="margin-bottom: 0.1rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>PO No. {{RowID}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="warning">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                            <nb-card>
                                <nb-card-body>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="row">
                                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                        <label> PO No. : </label>
                                                    </div>
                                                    <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                        <div class="cover-input">
                                                            <input status="primary" type="text" nbInput fullWidth
                                                                formControlName="purchase_order_number" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Delivery Date : </label>
                                                        </div>
                                                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                            <label class="status primary"
                                                                *ngIf="delivery_date > 0">{{arrBills.delivery_date * 1000 | date :'EEE dd/MM/yyyy'}}</label>
                                                            <label class="status orange"
                                                                *ngIf="delivery_date == 0">{{arrBills.delivery_date * 1000  | date :'EEE dd/MM/yyyy'}}</label>
                                                            <label class="status red"
                                                                *ngIf="delivery_date < 0">{{arrBills.delivery_date * 1000  | date :'EEE dd/MM/yyyy'}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Delivery Location : </label>
                                                        </div>
                                                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                            <textarea rows="3" type="text" status="primary" nbInput
                                                                fullWidth formControlName="delivery_location">
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Billing Name : </label>
                                                        </div>
                                                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                            <input status="primary" type="text" nbInput fullWidth
                                                                formControlName="billing_name" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Billing Address : </label>
                                                        </div>
                                                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                            <textarea rows="3" type="text" status="primary" nbInput
                                                                fullWidth formControlName="billing_address"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Billing Payment Term : </label>
                                                        </div>
                                                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                            <input status="primary" type="text" nbInput fullWidth
                                                                formControlName="billing_payment_term" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Billing Payment Due Date : </label>
                                                        </div>
                                                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                            <label class="status primary"
                                                                *ngIf="dueDateStatus > 0">{{dueDate  | date :'EEE dd/MM/yyyy'}}</label>
                                                            <label class="status orange"
                                                                *ngIf="dueDateStatus == 0">{{dueDate  | date :'EEE dd/MM/yyyy'}}</label>
                                                            <label class="status red"
                                                                *ngIf="dueDateStatus < 0">{{dueDate  | date :'EEE dd/MM/yyyy'}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Status : </label>
                                                        </div>
                                                        <div class="col-12 col-md-48col-lg-8 col-xl-8">
                                                            <label
                                                                [ngClass]="arrBills.purchase_order_paid_id === 0 ? 'status red':
                                                            (arrBills.purchase_order_paid_id === 1 ? 'status success' :
                                                            (arrBills.purchase_order_paid_id === 2 ? 'status orange' :'status success'))">{{
                                                                arrBills.purchase_order_paid_id === 0 ? 'Unpaid':
                                                            (arrBills.purchase_order_paid_id === 1 ? 'Paid' :
                                                            (arrBills.purchase_order_paid_id === 2 ? 'Partial' : 
                                                            arrBills.purchase_order_paid_id))}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="cover-input">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                            <label> Message : </label>
                                                        </div>
                                                        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                                            <input status="primary" type="text" nbInput fullWidth
                                                                formControlName="purchase_order_reply_msg" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                            <nb-card>
                                <nb-card-body>
                                    <project-comp-summary *ngIf="arrBillsSummary" [data]="arrBillsSummary"
                                        [status]="'PO'">
                                    </project-comp-summary>
                                </nb-card-body>
                            </nb-card>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                            <nb-card>
                                <nb-card-body>
                                    <table class="table hover" style="color: #ffffff;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Document Name
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody style="cursor: pointer;">
                                            <tr *ngFor="let doc of arrDoc" (click)="btnDocClick(doc.form_type_type_id)">
                                                <td>
                                                    <label>{{doc.form_type_text}}</label>
                                                </td>
                                                <td>
                                                    <nb-icon (click)="btnDocClick(doc.form_type_type_id)"
                                                        icon="printer-outline"></nb-icon>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </nb-card-body>
                            </nb-card>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12" *ngIf="!loading">
                            <nb-card>
                                <nb-card-body>
                                    <project-comp-payment [data]="purchase_order_paid_row"
                                        [payment_total]="payment_total" [over]="over"></project-comp-payment>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" *ngIf="!loading">
            <nb-card>
                <nb-card-body>
                    <project-comp-products [arrProduct]="arrBillsProduct" [arrSummary]="arrBillsSummary" [status]="'PO'"
                        [colorSKU]="'supplier'">
                    </project-comp-products>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>