<div class="pages">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="body">
                <div class="row">
                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                        <project-comp-category-browse [status]="'Dealer'" (categoryID)="categoryEvent($event)">
                        </project-comp-category-browse>
                    </div>
                    <div class="col-12 col-md-9 col-lg-9 col-xl-9">
                        <div class="row">
                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12" *ngIf="!loading1">
                                <ngx-datatable [columnMode]="ColumnMode.force" [rows]="arrListCategorys"
                                    rowHeight="auto" [headerHeight]="46" (activate)="btnRowCate($event)"
                                    [scrollbarH]="true" [messages]="messages">
                                    <ngx-datatable-column name="Images" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div class="cover-background-image">
                                                <div class="background-image padding-width-100px-height-100px"
                                                    [ngClass]="{'active' : row.distributor_image_url === '-' || row.distributor_image_url=== ''}"
                                                    [ngStyle]="{'background-image': 'url('+row.distributor_image_url+')'}">
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Distributor Name" [sortable]="true"
                                        prop="distributor_name">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{ row.distributor_name }}<br>
                                            {{row.distributor_addr_amphoe + ',' + row.distributor_addr_province}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable> 
                            </div>
                            <div class="col-12 col-12 col-md-12 col-lg-12 col-xl-12">
                                <table class="table hover" *ngIf="loading1">
                                    <thead>
                                        <tr>
                                            <th class="left" style="width: 100px;"> Images</th>
                                            <th class="left"> Distributor Name</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="unset">
                                            <td colspan="5">
                                                <div style="height: 200px;" [nbSpinner]="loading1"
                                                    nbSpinnerStatus="success">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>