<div class="pages">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <nb-icon icon="cube-outline"></nb-icon>
                                <label *ngIf="RowID == 'new'">Manage Product<span class="p-0-12">/</span>Create
                                    Product</label>
                                <label *ngIf="RowID != 'new'">Manage Product<span class="p-0-12">/</span>Update Product
                                </label>
                            </div>
                            <div class="col-auto">
                                <button *ngIf="RowID == 'new'" [nbSpinner]="image.update" nbSpinnerStatus="success"
                                    nbButton size="medium" status="success" (click)="btnSaveClick()">
                                    Save
                                </button>
                                <button *ngIf="RowID != 'new'" [nbSpinner]="image.update" nbSpinnerStatus="success"
                                    nbButton size="medium" status="success" (click)="btnSaveClick()">
                                    Update
                                </button>
                                <button *ngIf="RowID == 'new'" nbButton size="medium" status="danger"
                                    (click)="btnCancelClick()">
                                    Cancel
                                </button>
                                <button *ngIf="RowID != 'new'" nbButton size="medium" status="danger"
                                    (click)="btnBackClick()">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div *ngIf="RowID != 'new'" class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>{{strUpdateName}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-body>
                    <div class="body">
                        <form [formGroup]="productForm">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <project-file-image theme="white" [image_url_array]="image.main_image.get">
                                            </project-file-image>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="cover-input">
                                                <nb-checkbox [checked]="active === 1" (checkedChange)="toggle($event)">
                                                    Active</nb-checkbox>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="cover-input">
                                                <label>Warehouse</label>
                                                <ngx-select [allowClear]="true"
                                                    [ngClass]="{ 'is-invalid': submitted && f.WarehouseName.errors }"
                                                    [items]="arrWarehouse" optionValueField="warehouse_id"
                                                    optionTextField="warehouse_name" formControlName="WarehouseName"
                                                    placeholder="-------------- Choose ---------------">
                                                </ngx-select>

                                                <div *ngIf="submitted && !!f.WarehouseName.errors">
                                                    <div class="required" *ngIf="!!f.WarehouseName.errors.required">
                                                        Warehouse Name is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="cover-input">
                                                <label>Product Catalog Keyword</label>
                                                <input status="primary" type="text" status="primary" nbInput fullWidth
                                                    formControlName="catalogKeyword" class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && f.catalogKeyword.errors }" />
                                                <div *ngIf="submitted && !!f.catalogKeyword.errors">
                                                    <div class="required" *ngIf="!!f.catalogKeyword.errors.required">
                                                        Product Catalog Keyword is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="cover-input">
                                                <label>Product Name</label>
                                                <input status="primary" type="text" nbInput fullWidth status="primary"
                                                    formControlName="productName" class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && f.productName.errors }" />
                                                <div *ngIf="submitted && !!f.productName.errors">
                                                    <div class="required" *ngIf="!!f.productName.errors.required">
                                                        Product Name is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="cover-input">
                                                <label>Product SKU</label>
                                                <input status="primary" type="text" nbInput fullWidth status="primary"
                                                    class="form-control" formControlName="productSKU"
                                                    [ngClass]="{ 'is-invalid': submitted && f.productSKU.errors }" />
                                                <div *ngIf="submitted && !!f.productSKU.errors">
                                                    <div class="required" *ngIf="!!f.productSKU.errors.required">
                                                        Product SKU is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="cover-input">
                                                <label>Product Price</label>
                                                <input status="primary" type="text" libOnlyCharacternumber
                                                    mask="separator.2" thousandSeparator="," nbInput fullWidth
                                                    formControlName="productPrice" class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && f.productPrice.errors }" />
                                                <div *ngIf="submitted && !!f.productPrice.errors">
                                                    <div class="required" *ngIf="!!f.productPrice.errors.required">
                                                        Product Price is required
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12">
                                            <div class="cover-input">
                                                <label>Product Quantity</label>
                                                <input status="primary" libOnlyCharacternumber mask="separator.0"
                                                    thousandSeparator="," type="text" nbInput fullWidth status="primary"
                                                    class="form-control" formControlName="Quantity"
                                                    [ngClass]="{ 'is-invalid': submitted && f.Quantity.errors }" />
                                                <div *ngIf="submitted && !!f.Quantity.errors">
                                                    <div class="required" *ngIf="!!f.Quantity.errors.required">
                                                        Quantity is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="cover-input">
                                                <label>Product Unit</label>
                                                <input status="primary" type="text" nbInput fullWidth status="primary"
                                                    class="form-control" formControlName="productUnit"
                                                    [ngClass]="{ 'is-invalid': submitted && f.productUnit.errors }" />
                                                <div *ngIf="submitted && !!f.productUnit.errors">
                                                    <div class="required" *ngIf="!!f.productUnit.errors.required">
                                                        Product Unit is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="cover-textarea">
                                                <label>Note</label>
                                                <textarea
                                                    [ngClass]="{ 'is-invalid': submitted && f.productNote.errors }"
                                                    type="text" rows="3" nbInput fullWidth status="basic"
                                                    formControlName="productNote"></textarea>
                                                <div *ngIf="submitted && !!f.productNote.errors">
                                                    <div class="required" *ngIf="!!f.productNote.errors.required">
                                                        Note is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>