
<div class="pages" [formGroup]="Form">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding:0;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <nb-icon class="icon-header" icon="cube-outline"></nb-icon>
                                <label>Warehouse<span class="p-0-12">/</span>Detail</label>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                <button *ngIf="!loading" style="float: right;margin: 3px 0 3px 1rem;" nbButton
                                    size="medium" status="success" (click)="btnSaveClick()">
                                    Edit
                                </button>
                                <button style="float: right;margin: 3px 0 3px 1rem;" nbButton size="medium"
                                    status="danger" (click)="btnCancelClick()">
                                    Back
                                </button>

                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding:0;margin-bottom: 0.1rem;">
                <nb-card-header style="padding: 0.5rem 0;">
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label>{{arrobjRow.warehouse_name}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12" [nbSpinner]="loading" nbSpinnerStatus="primary">
            <nb-card>
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6" style="text-align: center">
                                        <div class="row">
                                            <div class="col-12">
                                                <project-display-file-image theme="white"
                                                    [image_url_array]="image.main_image.get">
                                                </project-display-file-image>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Warehouse Name :"
                                                    [control]="Form.get('warehouse_name')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Telephone Number :"
                                                    [control]="Form.get('warehouse_tel')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Mobile Phone Number :"
                                                    [control]="Form.get('warehouse_mobile')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-textarea rows="3" label="Address :"
                                                    [control]="Form.get('warehouse_addr_address_full')">
                                                </project-textarea>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Address Number :"
                                                    [control]="Form.get('warehouse_addr_number')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Province :"
                                                    [control]="Form.get('warehouse_addr_province')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Amphoe :"
                                                    [control]="Form.get('warehouse_addr_amphoe')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Tambon :"
                                                    [control]="Form.get('warehouse_addr_tambon')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                        <project-input inputType="text" label="Zipcode :"
                                                            [control]="Form.get('warehouse_addr_post')">
                                                        </project-input>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                        <project-input inputType="text" label="Latitude Longitude :"
                                                            [control]="Form.get('warehouse_lat_log')">
                                                        </project-input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
            <nb-card *ngIf="!loading && arrobjRow.warehouse_lat != 0 && arrobjRow.warehouse_lng != 0">
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <project-map [let]="arrobjRow.warehouse_lat" [long]="arrobjRow.warehouse_lng">
                                </project-map>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>