<div class="pages" [formGroup]="productForm">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;">
                <nb-card-header>
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <nb-icon icon="cube-outline"></nb-icon>
                                <label *ngIf="status == 'list'">Manage Products<span
                                        class="p-0-12">/</span>Detail</label>
                                <label *ngIf="status == 'group'">Products Group<span
                                        class="p-0-12">/</span>Detail</label>
                                <label *ngIf="status == 'stock'">Manage Stock<span class="p-0-12">/</span>Detail</label>
                            </div>
                            <div class="col-auto">
                                <button style="float: right;margin: 3px 0 3px 0.5rem;" nbButton size="medium"
                                    status="danger" (click)="btnCancelClick()">
                                    Back
                                </button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card style="padding: 0;margin-bottom: 0.1rem;">
                <nb-card-header style="padding: 0.5rem 0;">
                    <div class="header">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <label *ngIf="status == 'list'">{{arrProductDetail.product_title}}</label>
                                <label *ngIf="status == 'group'">{{arrProductDetail.product_title}}</label>
                                <label *ngIf="status == 'stock'">{{arrProductDetail.product_title}}</label>
                                <label class="sku">{{arrProductDetail.product_sku}}</label>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6" style="text-align: center">
                                        <project-display-file-image theme="white"
                                            [image_url_array]="image.main_image.get"></project-display-file-image>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Product Name :"
                                                    [control]="productForm.get('product_title')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Product Price :"
                                                    [control]="productForm.get('product_price')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-input inputType="text" label="Product SKU :"
                                                    [control]="productForm.get('product_sku')">
                                                </project-input>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <project-textarea rows="3" label="Note :"
                                                    [control]="productForm.get('note')">
                                                </project-textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <nb-card>
                <nb-card-body>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <table class="table">
                                    <colgroup>
                                        <col *ngIf="status == 'list'" />
                                        <col />
                                        <col />
                                        <col class="Available" />
                                        <col class="OnHand" />
                                        <col class="Outgoing" />
                                        <col class="Incoming" />
                                        <col />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th *ngIf="status == 'list'">
                                                <nb-checkbox [checked]="checkedAll" status="primary"
                                                    (checkedChange)="updateStatusAll($event)"></nb-checkbox>
                                            </th>
                                            <th style="text-align: left">PO No.</th>
                                            <th style="text-align: left">Warehouse Name</th>
                                            <th style="text-align: center">Available</th>
                                            <th style="text-align: center">On Hand</th>
                                            <th style="text-align: center">Outgoing</th>
                                            <th style="text-align: center">Incoming</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of arrProductDetails">
                                            <td *ngIf="status == 'list'">
                                                <nb-checkbox status="primary"
                                                    [ngModel]="item.product_row_data.product_is_active == 1 ? true : item.product_row_data.product_is_active == 0 ? false : null"
                                                    (checkedChange)="updateStatus($event, item)"
                                                    [ngModelOptions]="{standalone: true}"></nb-checkbox>
                                            </td>
                                            <td style="text-align: left">
                                                <div *ngFor="let purchase_data of item.purchase_data;">
                                                    <label>
                                                        {{purchase_data.purchase_order_number | number}}
                                                    </label>
                                                </div>
                                            </td>
                                            <td style="text-align: left">
                                                <div *ngFor="let warehouse_data of item.warehouse_data;">
                                                    <label>
                                                        {{warehouse_data.warehouse_name}}
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="cover qty">
                                                <label>
                                                    {{item.checkin_data.onhand - item.checkin_data.outgoing | number}}
                                                </label>
                                            </td>
                                            <td class="cover qty">
                                                <label>
                                                    {{item.checkin_data.onhand + item.checkin_data.onhand_manual | number}}
                                                </label>
                                            </td>
                                            <td class="cover qty">
                                                <label>
                                                    {{item.checkin_data.outgoing | number}}
                                                </label>
                                            </td>
                                            <td class="cover qty">
                                                <label>
                                                    {{item.checkin_data.incoming| number}}
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <project-footercomponent> </project-footercomponent>
        </div>
    </div>
</div>